[2017-03-03 07:27] mayacger opened #2 "antd-mobile 自定义 icon无效？"
使用<Icon type={require('path/to/svg')} />
安装"配置 webpack 以支持自定义 svg icon，具体可参见 Icon 文档"，配置后无效果。
具体还有其他什么地方要改？

[2017-03-03 07:50] paranoidjk commented on #2
你给的没有任何有效信息， 我们无能为力。

仔细阅读文档https://mobile.ant.design/components/icon
或者参考官方demo https://github.com/ant-design/antd-mobile-samples

[2017-03-03 07:50] #2 closed

[2017-04-17 08:05] paranoidjk commented on #3
https://github.com/ant-design/ant-design-icons

[2017-04-17 08:06] paranoidjk commented on #3
http://09x.mobile.ant.design/components/icon

[2017-08-13 07:00] paranoidjk commented on #4
[code]

[2017-08-13 09:02] ok111net commented on #4
试过了，是不行的，只有把svg里的fill去掉才填得上去呢

[2017-08-13 09:05] paranoidjk commented on #4
我在 chrome devtool 里面直接试试可以的，你试试 !important ?

另外 如果 svg 默认 fill 去掉，默认颜色如何处理呢？

你有方案的欢迎 PR 来帮我们修改。

[2017-08-13 09:26] ok111net commented on #4
antd-mobile里自带的svg是没有fill这个属性的，是可以用color和fill改写颜色的. 默认颜色就象antd-mobile里自带的用样式去写默认颜色呀

[2017-08-13 09:28] paranoidjk commented on #4
有颜色的地方不可能没有 fill 的 https://github.com/ant-design/ant-design-mobile/search?utf8=%E2%9C%93&q=fill&type=

除非最早 api 设计就是包装成组件，开放 props 来渲染 svg，eg: https://github.com/react-component/progress

但目前 antd-mobile 是直接使用 svg 文件的，方案不是这样

[2017-08-13 09:38] ok111net commented on #4
那不知道是什么原因了，我用这里的svg就是用样式改不了颜色，用antd-mobile里默认自带的就可以，我用的是谷歌开发版济浏览器61.0.3159.5_chrome_installer_x64

[2017-08-13 09:48] ok111net commented on #4
我又试了一遍，用的是antd-mobile\lib\icon\style\assets里的svg测试是可以改颜色的，然后用你上面发的其它的有fill的试了就是不行。

[2017-08-13 09:49] paranoidjk commented on #4
@ok111net 给个代码demo吧，你用的什么icon，想要改什么颜色，可以 push 到 github

[2017-08-14 01:42] silentcloud commented on #4
@ok111net  @paranoidjk 库里的 svg 是需要用户自己来做修改的，svg 不应该用 `fill` ，而要用 `fill-rule`

antd-mobile icon 里的之前视觉给的大部分也是不行的，我这边处理了的

[2017-08-14 04:29] paranoidjk commented on #4
@silentcloud 你的处理是指这个？ https://github.com/ant-design/ant-design-mobile/blob/master/components/icon/style/index.less#L4

[2017-08-14 06:57] silentcloud commented on #4
@paranoidjk 不是，是改掉了 icon/assets/*.svg

[2017-08-14 06:59] paranoidjk commented on #4
@silentcloud 改了啥？我的理解是你说 svg 源文件里不写填充颜色，利用 less 里面 currentColor 来根据用户样式设置动态取色？

[2017-08-14 07:05] silentcloud commented on #4
@paranoidjk 比如这个图标： https://raw.githubusercontent.com/ant-design/ant-design-icons/master/icon-core/Scan.svg

改成下面这样就可以了

[code]

[2017-08-14 07:07] paranoidjk commented on #4
@silentcloud 对啊，你把 svg 源文件里面的 `fill="#4A4A4A"` 去掉了，然后怎么处理的颜色呢？

[2017-08-14 07:09] silentcloud commented on #4
@paranoidjk https://raw.githubusercontent.com/ant-design/ant-design-icons/master/icon-core/Scan.svg 如果不改写，你写 css `fill: red` 都不起作用的， 改写了之后 icon 就可以继承样式了
`<div style="color:red"><Icon svg />` icon 就是红色的，不写样式（红色），也自己有默认的颜色的

[2017-08-14 07:13] paranoidjk commented on #4
@silentcloud 这个机制是依赖css3的 rule:currentColor 的，如果不写 `fill-rule:currentColor` 的话，svg是没法自动继承颜色的，只有一个默认的黑色。

https://github.com/ant-design/ant-design-mobile/blob/master/components/icon/style/index.less#L4

[2017-08-14 07:13] silentcloud commented on #4
@paranoidjk 额，我没说不需要 `fill-rule:currentColor` 这个啊

[2017-08-14 07:16] paranoidjk commented on #4
恩，表述问题，我也是这个意思 😅  这个和 css 优先级是一个原理，去掉内联的 fill 是前提

[2017-08-14 07:17] silentcloud commented on #4
嗯 我只是针对 @ok111net 说的这个问题，@ok111net 可以先自己改一下 svg 就可以了

[2017-09-18 04:35] paranoidjk commented on #4
看了下这个不太好改，有些 icon 内置的有好几个 fill 颜色，还是用户自己改源文件吧

[2018-01-10 03:11] warmhug commented on #5
http://1x.mobile.ant.design/components/icon/

[2018-07-02 07:11] afc163 opened #1 "support a way using custom icons"
Import https://www.npmjs.com/package/dynamic-icon

[2018-07-02 12:13] HeskeyBaozi commented on #1
`dynamic-icon`自定义图标的本质是`iconfont.cn`上托管的字体图标的自定义。
我的思路是在`Icon`组件上新增静态方法`createCustom`，并引用自`DynamicIcon.create({...})`。

但现在大多数自定义图标的情况是下列两种：
1. 用户在自己本地环境拥有`.ttf`/`.eot`字体文件，需要自己引入`css`文件。这种做法实际上和以前完全一致。
2. 用户自己拥有图标文件（`.svg`）。用户需要自己将`svg`标签转换成`jsx`，如：
[code]
此库本质上也是一个导出由`svg`转换成`react component`的“静态”库。类似于[Material Icons](https://material.io/tools/icons/?icon=attach_money&style=baseline)。

但是最终我觉得还是

[2018-07-03 09:21] afc163 commented on #1
1. 大多数用户的需求都是用 iconfont.cn，也是我们推荐的方案：https://pro.ant.design/docs/biz-icon-cn
2. 本地环境 tff eot svg，提供文档帮助即可，目前不太可能提供傻瓜式的方案。

[2018-07-03 09:31] afc163 opened #3 "Allow to be used in other libraries"
such as https://github.com/NG-ZORRO/ng-zorro-antd

cc @vthinkxie

[2018-07-03 09:49] vthinkxie commented on #3
👏

[2018-07-09 09:53] HeskeyBaozi commented on #3
## Adapters

We need helps from the community.

适配器的功能是将图标的`SVG`结构抽象树转换成对应框架的组件（或模块）。

## Library and Framework

### React
- [x] React Component: [@ant-design/icons-react](https://github.com/ant-design/ant-design-icons/tree/dev/packages/icons-react)
  [![NPM version](https://img.shields.io/npm/v/@ant-design/icons-react.svg?style=flat)](https://npmjs.org/package/@ant-design/icons-react)
  [![NPM do

[2018-07-14 07:04] afc163 opened #4 "HomePage"
http://icons.ant.design

Could be English only

[2018-07-18 05:29] afc163 opened #5 "Change npm package name"
- [x] `antd-icons` => `@ant-design/icons`
- [x] `react-antd-icons` => `@ant-design/icons/react`

Ask @yesmeck  for npm scope permission.

[2018-07-18 05:31] yesmeck commented on #5
@afc163 owner 才能加人

[2018-07-18 05:40] afc163 commented on #5
You are owner now.

[2018-07-18 06:11] #1 closed, assigned to nobody

[2018-07-19 01:53] HeskeyBaozi commented on #5
`@ant-design/icons/react`这个包名容易引发一个：“误认为`react`是一个库中的一个子图标” 的歧义。
我觉得使用`@ant-design/icons-react`会更好一点。
同理`@ant-design/icons-vue`、`@ant-design/icons-angular`

[2018-07-19 08:52] yesmeck opened #6 "Replace unicode characters with Icon component in antd"
Some components reference icons by unicode character in CSS directly, [example](https://github.com/ant-design/ant-design/blob/96d8fc45f1f1d0b6cf979e6aedcd3e700849126c/components/select/style/index.less#L30). We should replace these unicode characters by `Icon` component.

[2018-07-19 11:26] #5 closed, assigned to HeskeyBaozi

[2018-07-22 15:01] HeskeyBaozi opened #7 "Magic style: vertical-align: -.125em;"
`SVG`图标与文字在一起的时候，`SVG`图标不会与行的基线对齐。
必须设置如下样式才能对齐。
[code]
See https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4

考虑这一特性。
是否需要适配器如`@ant-design/icons-react`中帮用户设置好此样式？
还是需要用户自行设置？如`antd`里的`.anticon`类中设置了`vertical-align: -.125em;`。

[2018-07-23 03:29] HeskeyBaozi commented on #6
## Todos
---

- [x] Cascader 级联选择

https://github.com/react-component/cascader/pull/30

<img width="50%" src="https://user-images.githubusercontent.com/15819224/43055954-f824c7fa-8e6b-11e8-8eba-4c66871ac523.png" />

---

- [x] DatePicker 日期选择

https://github.com/react-component/calendar/pull/405
<img width="50%" src="https://user-images.githubusercontent.com/15819224/43056685-2a641d70-8e70-11e8-91

[2018-07-23 06:23] yesmeck commented on #7
antd 里要跟原来的 icon font 表现一致。

[2018-07-23 06:26] #7 closed, assigned to nobody

[2018-08-02 08:39] afc163 opened #8 "Use jest replace mocha?"
I think jest is more state of the art than mocha right now.

[2018-08-02 09:02] HeskeyBaozi commented on #8
I can't agree with you more.
done.

[2018-08-03 07:17] #8 closed, assigned to nobody

[2018-08-03 09:15] afc163 commented on #8
你应该用 commit messge 来关 issue 的，这样可以关联到代码。

[2018-08-20 14:21] fjc0k opened #9 "图标命名有误：check-close-circle 或应为 check-circle"
`check-close-circle` 或应为 `check-circle`。

链接：https://github.com/ant-design/ant-design-icons/blob/dev/src/svg/check-close-circle.svg

另外，不考虑将 svg 图标发布上 npm 吗？

[2018-08-21 02:10] HeskeyBaozi commented on #9
目前图标和文档中的图标命名是不一致的，现在的图标命名尚不遵循图标命名规范，不建议在生产环境中使用。
已经发布在`npm`上。
[code]

[2018-08-21 02:28] fjc0k commented on #9
@HeskeyBaozi ok，不过我这儿说的是 `src/svg` 下的图标应该发布去 npm，package.json 的 `files` 应该加上 `src`：

[code]

目前 npm 上无 svg 源文件：https://unpkg.com/@ant-design/icons/

[2018-08-21 02:35] HeskeyBaozi commented on #9
用户直接消费的是`lib`和`es`中的已经结构化的图标数据结构。
发布`svg`会造成冗余。

[2018-08-21 02:52] fjc0k commented on #9
@HeskeyBaozi 特定结构的数据对使用的工具有要求吧。而 svg 源文件，可满足各式需求。

[2018-08-21 03:34] HeskeyBaozi commented on #9
的确。这种需求也是有的。

[2018-08-21 03:44] HeskeyBaozi commented on #9
474f817f4cc69481591204e13c9b6bdda1bd417b
https://unpkg.com/@ant-design/icons/

[2018-08-21 03:44] #9 closed, assigned to nobody

[2018-08-21 03:52] fjc0k commented on #9
@HeskeyBaozi ok，还有个建议：发布的 svg 文件名可考虑统一小写，再把空格转为 `-` 号。如此，可使用 babel-plugin-import 进行按需加载：

[code]

[2018-09-03 04:06] #6 closed, assigned to HeskeyBaozi

[2018-09-06 02:37] macbesu opened #11 "Login icon: Is the direction of the arrow wrong?"
I am curious about it.

Old version ( <= v3.6.3 ):
https://2x.ant.design/components/icon
![image](https://user-images.githubusercontent.com/16490377/45131655-86e82c80-b1c0-11e8-89ee-414e85d834e4.png)

New version ( v3.9.1 ):
https://ant.design/components/icon
https://github.com/ant-design/ant-design-icons/blob/master/svg/outline/login.svg

![image](https://user-images.githubusercontent.com/1649037

[2018-09-06 02:54] HeskeyBaozi commented on #11
~~This is by design~~
Sorry, That's my fault. It will be fixed in the next patch version.
![image](https://user-images.githubusercontent.com/15819224/45137777-a7be7b00-b1dc-11e8-9bbb-40f4478ac67d.png)

[2018-09-06 06:41] macbesu commented on #11
Got it. Thanks :)

[2018-09-06 08:02] HeskeyBaozi opened #12 "⭐Ant Design Icon RoadMap"
---

<div align="center">
<img
 width="70%" alt="logo" src="https://user-images.githubusercontent.com/15819224/45196822-c120ff00-b290-11e8-83ca-eb76378f5cc1.png" />
</div>

---

该图标库是从 `antd@3.9.0` 开始正式使用的图标库，本文将讲述该图标库如何处理从设计师拿到的图标和具体处理流程。

## [`@ant-design/icons(-svg)` v4 贡献指南](https://github.com/HeskeyBaozi/ant-design-icons/blob/master/packages/icons-svg/docs/ContributionGuide.zh-CN.md)

## [`@a

[2018-09-06 08:10] ziaochina opened #13 "整个包大了好多"
大的要受不了。。想想办法

[2018-09-06 08:23] yesmeck commented on #13
Duplicate of https://github.com/ant-design/ant-design/issues/12011

[2018-09-06 08:23] #13 closed, assigned to nobody

[2018-09-07 03:00] HeskeyBaozi commented on #12
English Version WIP

[2018-09-07 05:36] yesmeck commented on #12
好多 “�”

[2018-09-07 07:38] iugo opened #14 "How to use it as external in webpack?"
I use antd as external in webpack. When antd version to v3.9.x, the main bundle size be added 700+kb.

Through webpack-bundle-analyzer, I found that the bundle grows caused by @ant-design/icons.

Want use the https://unpkg.com/@ant-design/icons@1.0.3 CDN.

[2018-09-07 08:38] HeskeyBaozi commented on #14
Use `umd.js` in https://unpkg.com/@ant-design/icons@next/lib/
it export all icons as variable `AntDesignIcons`.

# Notice
it is not released, use it in `antd@3.9.2` or later. `antd@3.9.1` doesn't work

[2018-09-07 08:38] #14 closed, assigned to nobody

[2018-09-07 09:21] HeskeyBaozi commented on #11
https://github.com/ant-design/ant-design/pull/12114

[2018-09-07 09:21] #11 closed, assigned to nobody

[2018-09-11 03:22] wzhudev opened #15 "[script] src and its children dirs are not created during the first time scripting npm run generate"
Result in generating failure.

[2018-09-11 03:38] HeskeyBaozi commented on #15
https://github.com/ant-design/ant-design-icons/commit/ffa94306e5b9edf015f8695492a93c1c5a0ea3c1

[2018-09-11 03:38] #15 closed, assigned to nobody

[2018-09-12 07:51] B3nnyL commented on #3
I'd like to help Vue component

[2018-09-12 07:56] B3nnyL commented on #12
@HeskeyBaozi I can support English translation and documenting if you need helps

[2018-09-12 07:59] zombieJ commented on #12
@HeskeyBaozi @B3nnyL , cool.
Could we add this in `https://github.com/ant-design/ant-design-icons/blob/master/docs/` after this done?

[2018-09-13 03:10] wzhudev commented on #3
Working on this for Angular.

[2018-09-14 01:42] B3nnyL commented on #12
@zombieJ Yeah, I believe so

[2018-09-21 13:50] HeskeyBaozi opened #18 "Use lerna to manage the adaptor."
since the angular version is computed.
We should have to use lerna to manage the three npm packages:
- `@ant-design/icons`
- `@ant-design/icons-react`
- `@ant-design/icons-angular`

The work is in progress.

[2018-09-29 04:32] HeskeyBaozi commented on #18
https://github.com/ant-design/ant-design-icons/pull/20

[2018-09-29 04:32] #18 closed, assigned to HeskeyBaozi

[2018-10-01 15:40] yesmeck opened #22 "lerna publish 发布出去的 @ant-design/icons-react 是空的"
<img width="352" alt="screen shot 2018-10-01 at 23 40 03" src="https://user-images.githubusercontent.com/465125/46299136-4c14c100-c5d3-11e8-8a96-8e1ab46951ab.png">

[2018-10-01 16:12] yesmeck commented on #22
是这个包 `@ant-design/icons-react`，刚刚发了一个 1.1.3，发现是空的，马上 unpublish 了。

因为这个包的 publish 命令是 `npm run pub` 而不是 `npm publish`。

[2018-10-01 16:13] wzhudev commented on #22
@yesmeck 对我也注意到了...

[2018-10-01 16:14] wzhudev commented on #22
@HeskeyBaozi 如果 angular 这边要和 icons, react 同步发布的话, 我需要做修改吗?

[2018-10-01 16:45] HeskeyBaozi commented on #22
@yesmeck
`@ant-design/icons-react` 的 `1.1.2` 我就是用 `lerna publish` 命令发布的。是没有在 lerna 工作目录下运行 `npm run react:compile` 编译文件？

@wendzhue
`icons-angular` 直接依赖的是 `@ant-design/icons`，通常的变更就是图标的增删改 例如 https://github.com/ant-design/ant-design-icons/pull/21。
原则上，只要 `@ant-design/icons` 提供的接口有变化（例如图标的**减少**、`IconDefinition` 变化、helper函数的类型变化等），接口变化通常都非常谨慎且很少发生，此时各平台的适配器才需要检查发布。

[2018-10-01 16:46] yesmeck commented on #22
如果 publish 前需要编译的话应该写到 `prepublish` 里。

[2018-10-01 16:47] yesmeck commented on #22
https://github.com/ant-design/ant-design-icons/blob/master/packages/icons-react/package.json#L19

如果这个没用，也要删掉

[2018-10-01 16:56] HeskeyBaozi commented on #22
https://github.com/ant-design/ant-design-icons/pull/23

[2018-10-01 16:56] #22 closed, assigned to nobody

[2018-10-12 02:24] tangjinzhou commented on #3
@B3nnyL Already developing?

[2018-10-13 21:22] vvscode commented on #4
do you have any contribution guide? how the community could help you with the project?

[2018-10-14 12:53] B3nnyL commented on #3
@tangjinzhou In progress. I'll update by the end of this week.

[2018-10-15 10:01] afc163 opened #26 "Missing Icons"
![image](https://user-images.githubusercontent.com/507615/46944346-5ee3c700-d0a4-11e8-8551-c75276223473.png)

[2018-10-15 10:02] afc163 commented on #26
<img width="66" alt="image" src="https://user-images.githubusercontent.com/507615/46944395-8044b300-d0a4-11e8-96d6-7a79bf292b2c.png">

这个也没有。

[2018-10-15 11:10] wzhudev commented on #26
cross 也没有了, 现在全用 close 替代, 是故意要去掉 cross 吗?

[2018-10-15 11:53] afc163 commented on #26
@wendzhue 应该是bug，cross 替换为 close，也应该保留并向下兼容的。

[2018-10-17 08:24] iugo commented on #14
@HeskeyBaozi antd@3.10.0 doesn't work.

[code]

According to BundleAnalyzerPlugin analysis, '@ant-design/icons' still be packaged.

[2018-10-22 08:38] B3nnyL commented on #3
Sorry @tangjinzhou, my schedule is completely full this month, I'm not able to complete the plugin in two weeks, just FYI.   I don't want to break your release schedule.
I'll keep working on it, which could be as an alternative svg icon library for AntDesign community.

[2018-10-22 13:43] tangjinzhou commented on #3
@B3nnyL I will submit a version 1.0 first, you can optimize it.

[2018-10-23 14:27] afc163 commented on #26
<img width="425" alt="image" src="https://user-images.githubusercontent.com/507615/47367722-d227b180-d712-11e8-96ba-f23d4aaf85c4.png">

[2018-10-24 05:56] afc163 commented on #26
https://github.com/ant-design/ant-design/issues/9092

[2018-10-27 08:19] cyberalien commented on #3
I have something you might be interested in: open source SVG framework. It works similar to glyph fonts, but renders SVG and downloads only icons used on pages.

Iconify repository: https://github.com/iconify-design/
It supports your amazing icons set: https://iconify.design/icon-sets/ant-design/

That makes it easy to use your icons set on pages without generating fonts. For example, to use bell-

[2018-11-02 09:59] afc163 commented on #26
- [ ]  airplane: https://github.com/ant-design/ant-design/issues/12543

[2018-11-15 03:09] wulucxy opened #33 "webpack 4 problem"
after I upgrade to webpack 4，I have encounter one problem：

[code]

the reason is `_iconsReact2` is recognized as a commonjs version。

[code]

if I change to _iconsReact2['default']['default']，it will work，so，what is solution here?

[2018-11-15 12:56] wulucxy commented on #33
finally i resolve this problem by add { "libraryDirectory": "es"} and {"modules": false}。
so please close this issue。3x

[2018-11-15 13:48] afc163 commented on #33
@wulucxy You can close it by youself.

[2018-11-16 00:50] #33 closed, assigned to nobody

[2018-11-16 08:56] BANG88 opened #34 "React Native version"
RT

[2018-11-16 09:01] afc163 commented on #34
<img width="805" alt="image" src="https://user-images.githubusercontent.com/507615/48611456-44fa1480-e9c1-11e8-9788-c85550f4f7cd.png">

😆

[2018-11-16 09:02] BANG88 commented on #34
😢

[2018-11-24 12:47] #34 closed, assigned to BANG88

[2018-11-28 07:16] afc163 commented on #26
<img width="411" alt="image" src="https://user-images.githubusercontent.com/507615/49135079-a3f44d80-f320-11e8-9f0d-148538665fc3.png">

[2018-11-28 08:54] afc163 opened #35 "Icon render strangely"
https://ant.design/components/icon/

<img width="114" alt="image" src="https://user-images.githubusercontent.com/507615/49140040-37804b00-f32e-11e8-82e6-fe2dc781ff8d.png">

chrome 70

[2018-11-29 05:41] 3wade3 opened #36 "Send icon request"
Can are you add send icon, something like Telegram app logo. I think is very frequent use case.
![Sen icon](http://oi67.tinypic.com/znr5th.jpg)

[2018-11-29 10:50] elhamsarikhani commented on #26
I am also missing the 'upload' icon which is available in the AntD documentation

[2018-12-05 03:26] blue-lightning commented on #26
I want to request a banknote icon similar to this one [here.](https://www.iconfinder.com/icons/788355/banknote_currency_finance_money_yen_note_icon)

[2018-12-18 21:35] afk-mario opened #40 "Add custom SVG icon documentation"
Is there a way to add a custom svg and call it like

[code]

[2018-12-21 07:07] hongchanhk01 opened #41 "default Icon theme is missing in react and vue adaptors"
Hello!
I am trying to build some components libs on top of ant-design for internal usages.

Included the the ant-design as dependencies and use `rollup` to bundle it up.

After that I start a `create-react-app` application and test it out for my components libs.

And getting this errors:

![image](https://user-images.githubusercontent.com/44665484/50329142-d57fc380-0530-11e9-8081-afa9080febff.png)

[2018-12-21 07:41] wzhudev commented on #41
@hongchanhk01

Hi. I am the author of the Angular adapter. You quoted a wrong line of the code. Actually, it's:

https://github.com/ant-design/ant-design-icons/blob/f8cac49b8ce9909e222a16202fdf6014cdd1dc13/packages/icons-angular/lib/component/icon.service.ts#L86

For icons provided by ant design, `theme` property should always be specified.

So I guess the problem wasn't because of these codes?

[2018-12-21 08:01] hongchanhk01 commented on #41
@wendzhue

Indeed, I try to dig a little bit deeper seem the data from Icons not that correct. Not sure is it my build problem or something else

![image](https://user-images.githubusercontent.com/44665484/50331421-88ecb600-0539-11e9-97ba-57354e4e746f.png)

You can see there are some incorrect data at the first two item for the icons array

[2018-12-21 08:05] wzhudev commented on #40
@afk-mcz

For React and Vue adapters, you can create a `IconDefinition` object and treat it like other icons provided by ant design.

For Angular adapter only, you can try namespace.

[2018-12-21 08:13] wzhudev commented on #41
@hongchanhk01 I guess something is wrong with your building process. Actually, you just have to add raw svg files under `svg` dir and our script would do everything for you.

[2018-12-21 08:24] hongchanhk01 commented on #41
@wendzhue

I do think so. Thank you for your time and sorry for the noise.

It seem `rollup` include `default` es export for `allIcons`.

![image](https://user-images.githubusercontent.com/44665484/50332324-b9821f00-053c-11e9-8b49-93995336081f.png)

Will close the issues for now.

[2018-12-21 08:24] #41 closed, assigned to nobody

[2018-12-21 08:36] hongchanhk01 commented on #41
@wendzhue

Sorry for bother u again

https://github.com/ant-design/ant-design/blob/af8a025aebba01b28ff04fecff76d30117b6e068/components/icon/index.tsx#L3

https://github.com/ant-design/ant-design/commit/c76a90b2b78b07364361c7b20e6703ca2eecf5c1

May I know shouldn't the import here for ant design icon using just `@ant-design/icons` instead of the  `@ant-design/icons/lib/dist` build.

Maybe this is w

[2018-12-22 08:53] afk-mario commented on #40
As I understand the `IconDefinition` requiores a JSON, is there any way to pass a react node? something loaded by [svgr](https://github.com/smooth-code/svgr)

[2018-12-24 21:45] afk-mario opened #43 "Add titleProp option"
Add a way to customize the title on the resulted SVG

[2018-12-25 02:10] wzhudev commented on #43
@yesmeck @tangjinzhou I guess this should be implemented in adapters?

[2018-12-25 07:20] tangjinzhou commented on #43
@wendzhue
In Vue, there is no need to do extra work to support the title attribute. For undeclared properties, they are added by default to the root element of the component. So title will be added to the `i` element by default instead of being added to `svg`.

But if it is added to `svg`, we need to make some changes.
`svg` does not support `<svg title="xxx"></svg>`, but instead
`<svg><title>XXX<

[2018-12-25 16:36] afk-mario commented on #43
https://github.com/smooth-code/svgr added this on https://github.com/smooth-code/svgr/commit/be39fe4a965b7f89b1e46f98ad18b2a7752a0f4a

[2019-01-07 15:47] afc163 commented on #26
- [ ] linux: https://github.com/ant-design/ant-design/issues/14166

[2019-01-16 08:33] zhengzhou1992 commented on #26
Expectation: Kubernetes is a widely used brand, could you add it to "Brand and Logos" part?
[Kubernetes SVG logo](https://github.com/kubernetes/kubernetes/blob/master/logo/logo.svg)

[2019-01-26 06:06] ZhenlyChen commented on #14
I had a same problem.
How to use externals instead of '@ant-design/icons

[2019-02-01 09:13] iifksp commented on #14
遇到同样的问题，就算只用一个Input，即使在wepack externals设置了antd，也会一下就把icon都打包进来了。

[2019-02-08 03:37] kazzit opened #44 "Some icons look oddly slim when aligned with others."
{ book, file , file-***}
looks weird if aligned with other square-ish icons as buttons in a menu.
is there any way to define their height and width separately?

[2019-02-15 04:48] Shard opened #45 "Cannot build repo"
After doing a clean clone and bootstrap I run into a few typescript errors:

[code]

Tested with both node 8 and node 11 with the latest versions of yarn/npm/lerna.

[2019-02-18 00:56] Shard commented on #45
After a bit of fiddling with the code it looks like its just purely a typescript issue, taking out the typescript casts for ThemeType in a few areas let the code pass and it works just fine.

I believe this might just be wrong types being used? Since the pipe starts off passing a `string[]` of the 3 types of theme icons but ThemeType is just an enum of the 3 types so maybe the type cast should be

[2019-02-23 12:20] #3 closed, assigned to HeskeyBaozi

[2019-02-25 14:08] jsefiani opened #48 "_iconsReact.default.add is undefined"
Can't solve this issue. Whenever I try to run my React project I get the following error: `_iconsReact.default.add is undefined`

This error comes from the following file path (line 56):
`/node_modules/lib/icon/index.js`

The following code in that file seems to have some problems, because `_iconsReact.default.add` stays undefined.
[code]
What can I do to resolve this issue?

Versions:
- webpack:

[2019-02-26 05:02] Sicria commented on #26
Discord would be a nice addition - https://discordapp.com/

[2019-03-04 09:33] krokofant opened #50 "Update TypeScript peer dependency"
The current stable 7.x release of NgZorro uses TypeScript "~3.2.2" while the angular-icons uses "~3.1.3".

Could these be synced up so that npm won't warn about mismatching peer dependencies?

[2019-03-04 09:47] wzhudev commented on #50
@krokofant angular-icons uses TypeScript@3.1.3 mostly because I use Windows and TypeScript@3.2.2 breaks on Windows! 🤣  See: https://github.com/Microsoft/TypeScript/issues/29221

I think this wouldn't break anything, currently?

[2019-03-04 10:44] krokofant commented on #50
@wendzhue Thanks for the note. The updated TypeScript version is what broke our build while upgrading ant 😄 I'm sure it's fine

[2019-03-04 10:44] #50 closed, assigned to nobody

[2019-03-07 13:14] afc163 opened #51 "peer dependencies mismatch"
@ant-design/icons-react@1.1.2 requires a peer of @ant-design/icons@~1.1.0 but none is installed. You must install peer dependencies yourself.

[2019-04-02 09:21] zombieJ commented on #51
`icons-react@1.1.4`released to fix this.

[2019-04-02 09:21] #51 closed, assigned to zombieJ

[2019-04-03 17:03] krokofant commented on #45
If on windows you should pin your typescript version:
https://github.com/NG-ZORRO/ng-zorro-antd/pull/2798#issuecomment-455094564
https://github.com/Microsoft/TypeScript/issues/29221

[2019-04-04 03:40] afc163 commented on #26
https://github.com/ant-design/ant-design/issues/15850

[2019-04-20 05:50] afc163 opened #55 "Replace ant-design-palettes to @ant-design/colors"

[2019-04-23 05:51] afc163 opened #56 "如何新增一个新图标到三个库"
要搞一篇文档，方便大家都能快速上手操作。

[2019-04-23 06:10] wzhudev commented on #56
@afc163 Angular 这边我可以写一个 wiki 之类的，我们要单独构建 icon 资源，会比较麻烦一些。

供参考：https://github.com/ant-design/ant-design-icons/wiki/Angular-Build-Guide

[2019-04-25 09:49] EnzDev opened #57 "icons-angular release 2.0.3"
Hello,
Yesterday, I've upgraded my package.json with `@ant-design/icons-angular@2.0.3`, today I'm unable to deploy my code because you removed the `2.0.3` release and pushed the `2.0.4` one.
Is there a specific reason to remove this release from npmjs? Removing a release (instead of marking it as deprecated) can lead to many problems and I do not understand this choice.

[2019-04-26 01:48] wzhudev commented on #57
@EnzDev That version doesn't contain folder `src/inline-svg`. So we have to unpublish it in case someone uses the invalid version. Sorry for the inconvenience.

[2019-04-26 01:48] #57 closed, assigned to nobody

[2019-05-08 03:47] afc163 commented on #55
`+ @ant-design/colors@3.1.0`

[2019-05-08 12:27] #55 closed, assigned to nobody

[2019-05-13 04:10] #26 closed, assigned to yesmeck

[2019-05-27 03:33] wzhudev opened #64 "icon request: kubernetes"
Request an icon of Kubernetes at https://github.com/kubernetes/kubernetes.

Thank you, guys. 🤗

[2019-06-17 07:12] andreGarvin commented on #26
It seems like the more icon does not appear or is missing?
[code]

[2019-06-17 07:15] andreGarvin commented on #26
![Screen Shot 2019-06-17 at 3 11 28 AM](https://user-images.githubusercontent.com/15004253/59585274-1b67af80-90ae-11e9-9259-0e79a2640ae4.png)

[2019-07-19 09:32] fengyun2 opened #70 "Vue how to use the filled icon？"
1. Versions:
  - "@ant-design/icons": "^2.1.1",
   - "@ant-design/icons-vue": "^2.0.0",

2. Usage:

[code]

[code]

3. Actual effect

`Nothing is rendered`

4.  Expectation

![image](https://user-images.githubusercontent.com/8147202/61525500-24e88c80-aa4b-11e9-8dd2-3eb4328cea81.png)

[2019-07-19 09:37] wzhudev commented on #70
Why don't you read the doc?

<img width="1037" alt="屏幕快照 2019-07-19 下午5 36 39" src="https://user-images.githubusercontent.com/12122021/61525848-d091dc80-aa4b-11e9-8bad-4d6ab3264242.png">

[2019-07-19 09:37] #70 closed, assigned to nobody

[2019-07-19 10:07] fengyun2 commented on #70
@wendzhue Please review. I just use `@ant-design/icons` and `@ant-design/icons-vue` instead of `ant-design-vue`.

[2019-07-22 09:00] afc163 opened #71 "Icon requirements"
This issue is the central backlog for new Ant Design icon requests.

Please add new requests as comments here instead of opening a separate issue. A good request should include:

- Icon name or proposed API name, for example `TelegramOutlined`.
- Use case and expected style: outline, filled, two-tone, or brand logo.
- Reference SVG, official brand guideline, or screenshot when possible.
- License/

[2019-07-22 09:00] afc163 commented on #71
- [ ] docker https://github.com/ant-design/ant-design/issues/17301
- [ ] k8s https://github.com/ant-design/ant-design/issues/17301

[2019-07-22 09:04] pdeva commented on #71
- [ ] java
- [ ] javascript
- [ ] python
- [ ] ruby
- [ ] dotnet

[2019-07-23 01:54] wzhudev commented on #64
Track in #71

[2019-07-23 01:54] #64 closed, assigned to nobody

[2019-07-23 01:55] wzhudev commented on #71
- [ ] send #36

[2019-07-23 01:55] #36 closed, assigned to nobody

[2019-07-23 10:17] tangjinzhou commented on #70
@fengyun2 直接使用不是很方便，你可以参考 `ant-design-vue` 进行二次开发
 https://github.com/vueComponent/ant-design-vue/blob/master/components/icon/index.js#L102

[2019-07-24 00:42] fengyun2 commented on #70
我们前端UI框架选了Element UI，但是看到 `@ant-design/icons` 的图标比较多和我们刚好需要这些图标，就看下能不能用而已，再引入 `ant-design-vue` 就有点庞大了。

[2019-08-15 09:46] orzyyyy opened #99 "Unexpected warning"
https://codesandbox.io/s/antd-reproduction-template-sn4qw

`Warning: [@ant-design/icons] icon should be icon definiton, but got [object Object]`

[2019-08-19 05:47] vagusX commented on #99
resolved in https://github.com/ant-design/ant-design-icons/pull/102
demo: https://codesandbox.io/embed/antd-reproduction-template-f4exh

[2019-08-19 05:47] #99 closed, assigned to vagusX

[2019-08-19 17:39] HeskeyBaozi opened #104 "Refactor icons-svg@4.x with gulp"
- [x] `ant-design-icons` 仓库新建 [next-v4](https://github.com/ant-design/ant-design-icons/tree/next-v4) 分支，之后社区的[next-v4分支](https://github.com/HeskeyBaozi/ant-design-icons/tree/next-v4)将会提pr，该pr包含对原`icons-svg`的命名和新的`icons-svg`增加。

React/React-Native/Vue/Angular各自社区实现对应支持`tree shaking`的图标组件或指令，分支在仓库ant-design-icons下的`next-v4`分支

- [x] @ant-design/icons (React) @vagusX https://github.com/ant-design/ant

[2019-08-19 17:41] HeskeyBaozi commented on #104
之前pr #100

## 包相关变动

`packages/icons` 中的包名由 `@ant-design/icons-svg` 修改为 `@ant-design/icons-svg-legacy`。包名 `@ant-design/icons-svg` 由项目下的目录重写的 `packages/icons-svg` 继承。

新的 `@ant-design/icons-svg` 包和原来的版本 ( `4.0.0-alpha.0` 和 `@ant-design/icons <= 2.1.1` ) 相比，有如下改动：

- 不再提供用于存放未处理的图标的 `svg` 目录
- 不再提供用于全量引入的 `dist.js` 文件和压缩过的 `umd.js` 文件，全量引入直接用 `import * as allIcons from '@ant-design/icons-svg'`， 走 `i

[2019-08-19 17:52] HeskeyBaozi commented on #104
各个社区在开发时，可以先构建一次`@ant-design/icons-svg`（未发包），该包位于`packages/icons-svg`。之后可使用 `lerna link` 到对应社区的组件包进行开发。

开发思路可以分为两个阶段：
- 组件文件生成阶段：利用`@ant-design/icons-svg`中的抽象节点（asn, Abstract Node）。生成对应的ReactElement或者VNode。（Angular社区可以使用helpers中的`renderIconDefinitionToSVGElement`渲染工具函数来渲染）。之后生成组件输出到`src`目录。当然，也可以利用旧的构建好的组件重新编写一个函数组件即可。注意旧的组件就不再需要内部的图标集合（即可以删去）
- 构建阶段：使用构建工具或编译工具 babel/tsc 或者社区打包解决方案 father/webpac

[2019-08-20 01:25] wzhudev commented on #104
赞赞赞

[2019-08-20 01:26] wzhudev commented on #56
Ref #104.

[2019-08-20 03:13] JStuve commented on #71
Twitch Icon please!

[2019-08-28 03:39] wzhudev opened #110 "angular: icon dynamic loading with jsonp-like tech"
Now icons-angular provide dynamic loading which enable users to load icon resource through `XMLRequest` (in order to reduce bundling size). However, most CDN don't support cross-domain `XMLRequest`.

A jsonp like tech is required. When translating icon resources, instead of omitting svg files, we omit js files like:

[code]

So, when icons-angular tries to load an icon dynamically, instead of firi

[2019-08-28 16:10] vagusX commented on #104
@HeskeyBaozi 我有个想法就是 `icons-svg` 这边 theme 也统一改成 Filled/Outlined/TwoTone 避免从 fill/outline/twoTone 转换，这里显得有点没有必要

[2019-08-28 16:49] HeskeyBaozi commented on #104
这个可以的。做好和其他开发者的沟通工作即可。我会尽快完成。

[2019-08-29 08:41] HeskeyBaozi commented on #104
确认一下命名风格：
[code]

短横线连字形式可以由`name + '-' + theme`得到，通常用于`Vue`组件名称形式中
- `account-book-filled`
- `account-book-outlined`
- `account-book-twotone`

[2019-09-05 07:59] zkyf opened #121 "fontFamily "antoutline" is not a system font and has not been loaded through Font.loadAsync."
I've linked the fonts by
[code]

But I got the error while using:
[code]

Any idea?

[2019-09-05 08:15] zkyf commented on #121
ignore me, im using expo and need to load the font like:
[code]

[2019-09-05 08:15] #121 closed, assigned to nobody

[2019-09-05 08:59] vagusX opened #122 "同步图标渲染优先级的 pr"
来源于 https://github.com/ant-design/ant-design/pull/18592

[2019-09-06 03:25] #122 closed, assigned to vagusX

[2019-09-09 03:10] #110 closed, assigned to wzhudev

[2019-09-09 05:21] vagusX commented on #104
icons-react 库已完成对应 [更新](https://github.com/ant-design/ant-design-icons/pull/112)

[2019-10-08 20:52] skix123 commented on #71
Hi, I'd appreciate these new icons:
- a tree
- a speaker
- Spotify logo

Thanks in advance!

[2019-10-09 09:25] zWingz commented on #104
观察了下, 目前使用`icons-react`是需要逐个icon引入并且使用

我的做法是一次性把需要用到icon引入进来, 然后通过`svg-sprite` 形式使用, 使用时候只需要用过`<icon name='xxxx'/>`, 不需要多次`import icon`

刚完成vue版, 不知道是否有其他坑

[2019-10-11 07:16] tangjinzhou commented on #104
@zWingz Vue版本完成了？可以提pr上来

[2019-10-13 03:02] vagusX commented on #104
@zWingz 欢迎 pr

[2019-10-14 11:16] zWingz commented on #104
目前我开发方案是使用svg-symbol来实现, twotone方案是通过`css variable`, 可能兼容性上跟ant-design所要求的有点出入

[2019-10-18 11:07] olivewind opened #148 "这个写法是有问题的吧？这样不是必定 js 么？ useJsonpLoading 是个方法"
这个写法是有问题的吧？这样不是必定 js 么？ useJsonpLoading 是个方法

![image](https://user-images.githubusercontent.com/17901361/67089862-36bd0580-f1db-11e9-95ac-5e8f913082da.png)

_Originally posted by @olivewind in https://github.com/ant-design/ant-design-icons/diffs_

[2019-10-22 05:11] mrquokka opened #150 "Support pass spin to icons"
Hi, i tried to use loading icon, but cannot make it animated
expected result
[code]
But it is not work, and pass 'sync' to class and type does not help

[2019-10-22 05:51] tangjinzhou commented on #150
You need to write your own css animation.
ant-design-icons does not contain styles.

[2019-10-22 05:54] tangjinzhou commented on #150
Please use the icon component in [ant-design-vue](https://vue.ant.design/components/icon/).

[2019-10-22 18:58] mrquokka commented on #150
Thanks, already do this. Looks like simple feature, but okay, i can do it  myself

[2019-10-22 18:58] #150 closed, assigned to nobody

[2019-10-23 09:29] DennisBaekgaard opened #152 "Consider renaming exported names"
We are overall super happy with Ant-Design and are currently using the @alpha tag on v4. One thing we noticed though was that icons have been changed from `<Icon type="User" />` to `<User />`. This currently gives a whole bunch of clashes in declarations, e.g. if you have your own <User /> component. This risk only increases as more icons are added.

Currently we are aliasing everything so;

`impo

[2019-10-23 11:13] tangjinzhou commented on #104
icons-vue done

[2019-10-24 02:25] xyy94813 opened #154 "[Help] How to use it with `babel-plugin-import`."
Now, I only use a few icons in `@ant-design/icons`.

I will use more in the future, but I definitely can't use all the icons.

When i import `@ant-design/icons` like this:

[code]

Webpack bundle all icons, including what I didn't use.

I am not sure if I can use it with `babel-plugin-import`.

It is awesome, if we can dynamic import icons just like `antd`

[2019-11-07 01:59] anjee10 opened #159 "All Caret [left, right, down, up] fill and outline svgs are same"
highly appreciated for making this icons!

Right now I am using `Caret`  icons but looks like fill and outline svgs are same

https://github.com/ant-design/ant-design-icons/blob/master/packages/icons/svg/fill/caret-up.svg
https://github.com/ant-design/ant-design-icons/blob/master/packages/icons/svg/outline/caret-up.svg

It would be good to have outline caret icons only have outline body, like http

[2019-11-12 13:27] Brooooooklyn opened #165 "Expose AntdIcon icon component"
I have many svg icons and I want use them with @ant-design/icons like that:
[code]

[2019-11-18 05:43] #165 closed, assigned to nobody

[2019-11-22 19:23] tourze opened #172 "@ant-design/icons-react-native部分配置需要更新"
warn The following packages use deprecated "rnpm" config that will stop working from next release:
  - @ant-design/icons-react-native: https://npmjs.com/package/@ant-design/icons-react-native
  - react-native-maps: https://npmjs.com/package/react-native-maps
Please notify their maintainers about it. You can find more details at https://github.com/react-native-community/cli/blob/master/docs/configu

[2019-11-23 04:38] shaodahong opened #173 "change inset styles precedence"
https://github.com/ant-design/ant-design-icons/blob/b8d1d8c2e5dceb363c984ded8a79a5a2c856f15f/packages/icons-react/src/components/Icon.tsx#L57

Ref: https://github.com/ant-design/ant-design/issues/19896

In my see, insert styles in `Icon` component called, but priority we not control, so we can add styles top of head element

[2019-11-23 08:50] #173 closed, assigned to vagusX

[2019-11-28 05:56] vagusX commented on #152
We finally decide to use `Outlined` as suffix, so you can use Icon like this:

[code]

[2019-12-02 03:13] #152 closed, assigned to nobody

[2019-12-02 06:14] wzhudev commented on #148
这个问题已经在最新的版本中修复。

[2019-12-02 06:14] #148 closed, assigned to nobody

[2019-12-09 09:29] Nomeasmo opened #185 "No license provided"
Please add license to this package and all the sub packages.

[2019-12-09 10:01] #185 closed, assigned to nobody

[2019-12-10 03:39] HeskeyBaozi commented on #104
目前各个社区的进度跟进方面 `Vue` 社区已经完成了。

关于合并有一些要注意的点：
- `Vue` 之前是合并到 `master` 分支上的，正常情况下合并应该是没有冲突 @tangjinzhou

`Angular` 和 `React Native` 方面：

- rn 代码是直接跨包使用 `SVG` 图标  @bang88

https://github.com/ant-design/ant-design-icons/blob/225eafec1e9380d589530b452974c06d249ce6c3/packages/icons-react-native/scripts/index.js#L17

需要修改路径到 `icons-svg/svg`，同时注意主题风格名字的变化 `fill` -> `filled`，`outline` -> `outlined`

- Angul

[2019-12-11 02:11] BANG88 commented on #172
@tourze 你是单独安装这个包的吗？

[2019-12-11 02:20] BANG88 commented on #104
好久没动 卡在 lerna bootstrap 😢

[2019-12-11 03:33] BANG88 commented on #104
@HeskeyBaozi 我的修改太少了。 我直接push到v4了..

[2019-12-18 16:52] vagusX commented on #104
我这边统计了下图标的变化，主要是新增了图标，以及删除了 typo 错误的图标

https://github.com/vagusX/icons-v4-diff/pull/1/files

[2019-12-21 08:47] vagusX commented on #104
@wendellhu95 https://github.com/ant-design/ant-design-icons/pull/196 这个 mr 合并了，我理解 ng 的也完成了哈

[2019-12-21 10:39] wzhudev commented on #104
嗯，完成～

[2019-12-22 07:40] itayganor opened #198 "Huge bundle size without any explicit use, only of antd"
Hi there.
In my project I use **antd** for components and **FontAwesome** for icons. I never explicitly use icons from Ant Design (Not a single `<Icon/>` component in my project).
Despite that, I can see that in my `bundle.js`, `@ant-design/icons` is about **0.5MB (!)** in size.

![image](https://user-images.githubusercontent.com/6430313/71318815-ba76c500-249e-11ea-84b7-ffbb1fa0313b.png)

In order

[2019-12-23 10:02] vagusX commented on #104
后续 actions：
* [x] 从 master 中切出 [legacy 分支](https://github.com/ant-design/ant-design-icons/tree/legacy)
* [x] 将 next-v4 合并到 master
* [x] 发布 @ant-design/icons-svg@4.0.0-alpha.4
* [x] 发布 @ant-design/icons 的对应版本 (react集成包)

后续原稳定分支的修复都在 legacy 上发布和修复
master 分支用来开发新的分支代码

[2019-12-23 11:27] wzhudev commented on #104
分支不如叫 legacy

[2019-12-23 11:55] vagusX commented on #104
有道理

[2019-12-25 03:48] zombieJ opened #211 "`forwardRef` is in wrong place"
https://codesandbox.io/s/blazing-snow-hksc0

[2019-12-26 09:03] vagusX commented on #104
@HeskeyBaozi 这个 issue 可以先 close 掉？

[2020-01-02 05:40] #211 closed, assigned to vagusX

[2020-01-05 09:07] vagusX opened #220 "CI 流拆分"
由于目前各个项目本身是独立的，lerna 配置中也是 independent，所以将 CI 流拆分开，目前的顺序是

`setup` --> `icons-svg` --> `icons-react`

![image](https://user-images.githubusercontent.com/6828924/71777446-0f582680-2fdb-11ea-8347-2ad32a4249c4.png)

目前的顺序预设里面是不同框架 angular/react/react-native/vue 的适配包依赖于 `icons-svg` 的 CI 持久化结果的，这一点 @HeskeyBaozi 关注下

@bang88 @wendellhu95 @tangjinzhou 对应的社区库考虑将自己的 CI 流配置成独立的任务到 circleci 的配置中去

BTW
@bang8

[2020-01-06 04:13] afc163 commented on #71
- [ ] UPI：https://github.com/ant-design/ant-design/issues/20653

[2020-01-09 08:49] vagusX commented on #71
ping @AntDesigners

[2020-01-09 09:31] afc163 commented on #71
这样 ping 没什么用。

[2020-01-09 11:30] flashblaze commented on #71
@afc163 I have tried to contribute Gumroad icon #219 can you tell me whether I've met the requirements and let me know regarding the changes.

Thanks.

[2020-01-13 10:01] patrickomeara commented on #198
I am also having this issue, we only use the table component but the whole library is included.

It's adding too much overhead. Is it possible to minimize this?

<img width="616" alt="image" src="https://user-images.githubusercontent.com/571773/72246857-cbeb6100-3647-11ea-99db-2605cf817c17.png">

[2020-01-13 10:06] patrickomeara commented on #198
Looks like it's a major issue that is fixed in 4.0

https://github.com/ant-design/ant-design/issues/20661

[2020-01-13 10:09] wzhudev commented on #198
Please refer to https://github.com/ant-design/ant-design/issues/12011.

[2020-01-13 10:09] #198 closed, assigned to nobody

[2020-01-14 17:16] itayganor commented on #198
It is all Chinese. It is not possible to refer people to texts they can't read.

[2020-01-15 02:15] wzhudev commented on #198
@itayganor There are some comments in English. You can use some help from those, and Google Translate.

[2020-01-15 03:18] suwu150 commented on #172
我是单独安装到我的项目的package.json文件中，也有这样的提示！
<img width="490" alt="截屏2020-01-1511 17 35" src="https://user-images.githubusercontent.com/20339760/72402004-a44fe200-3788-11ea-973e-3daa3a387f1d.png">

提示内容如下所示：
<img width="998" alt="截屏2020-01-1511 18 33" src="https://user-images.githubusercontent.com/20339760/72402042-c6e1fb00-3788-11ea-8c07-0b83f675d306.png">

[2020-01-15 03:36] BANG88 commented on #220
现在 CI都是挂了的..

那就是后面各自搞各自的ci吗？

[2020-01-15 05:52] vagusX commented on #220
是的，就是 CI 拆开好了，这样避免互相影响

[2020-01-16 06:35] hzgotb commented on #71
eye 和 eye-invisible 在 文档上没出现。

[2020-01-16 06:50] #104 closed, assigned to nobody

[2020-01-16 06:50] HeskeyBaozi opened #227 "Ant Design Icons V4 List"
| Name | Filled | Outlined | TwoTone |
| :--: | :----: | :------: | :-----: |
| account-book | ![account-book-filled](https://raw.githubusercontent.com/HeskeyBaozi/ant-design-icons-list/master/inline/account-book-filled.svg?sanitize=true) | ![account-book-outlined](https://raw.githubusercontent.com/HeskeyBaozi/ant-design-icons-list/master/inline/account-book-outlined.svg?sanitize=true) | ![account

[2020-01-18 10:20] hsluoyz opened #229 "Attempted import error: 'AppstoreOutlined' is not exported from '@ant-design/icons'."
I found my React app encounters compile error these days. The code is OK two weeks ago. Did you change the `latest` pointer to another version without `AppstoreOutlined`?

[code]

Some content of my `package.json`:

[code]

[2020-01-19 03:40] appzk opened #230 "CI Faild && Local build Error"
branch: master
date: 2020-01-19

First `npm run icons:generate`
<img width="707" alt="ant-icon0" src="https://user-images.githubusercontent.com/4745752/72674355-569ce780-3ab0-11ea-8a58-10947efb2387.png">

`npm run bootstrap:china`

<img width="824" alt="ant-icon1" src="https://user-images.githubusercontent.com/4745752/72674363-6ddbd500-3ab0-11ea-870c-a6d5e9c7271a.png">

need help ,thanks all

[2020-01-20 02:45] lavacake2019 commented on #229
@ant-design/icons:    2.1.1 ----------- latest, 4.0.0-rc.0-------rc

[2020-01-20 02:51] hsluoyz commented on #229
I used `4.0.0-rc.0` and it works.

[2020-01-20 02:51] #229 closed, assigned to nobody

[2020-02-06 10:15] mgcrea opened #237 "[4.0] Add empty square and circle icons"
Would be great to have empty/blank square and circle icons to use as toggles (eg. unchecked/checked).

Could send a PR is you think this is a good idea.

Example:

   <img width="52" alt="Screenshot 2020-02-06 at 11 15 00" src="https://user-images.githubusercontent.com/108273/73927586-ef659c80-48d1-11ea-8123-a1847cdb3d9f.png">
<img width="79" alt="Screenshot 2020-02-06 at 11 14 02" src="https://us

[2020-02-12 08:29] qinhuaihe opened #239 "[typescript] using icons in tsx comes with some errors"
Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

[reproduction](https://codesandbox.io/s/ant-design-icon-test-r7ogo)

[2020-02-21 18:10] zisheng-ai commented on #172
什么时候发布新版呢？

[2020-02-22 04:07] zisheng-ai commented on #172
单独使用时，需要安装 babel-runtime

[2020-02-25 12:50] vishalshettydev commented on #26
any update on this issue? I am also not able to use many of the Icons that are listed in the antd document.

[2020-02-26 08:47] qinhuaihe commented on #239
Sorry, I didn't use the right version.

[2020-02-26 08:47] #239 closed, assigned to nobody

[2020-02-27 04:52] hengkx opened #244 "Attempted import error: 'MinusCircleOutlined' is not exported from '@ant-design/icons'"
"antd": "4.0.0-rc.6",
"@ant-design/icons": "^2.1.1",
[code]

[2020-02-27 05:04] hengkx commented on #244
change "@ant-design/icons": "^4.0.0-rc.0", done

[2020-02-27 05:04] #244 closed, assigned to nobody

[2020-03-01 12:34] matzeeable opened #248 "[Question] Is there a `prefixCls` option?"
Hi!

Yesterday I updated two of my repositories to `antd@4`. I noted that icons are now overlapped because another library is still using `antd@3.8.4` (no update possible, yet). I decided to go the way to "brand" antd to my own, that means I use the `prefixCls` option (https://ant.design/components/config-provider/#API) and `modifyVars` in `less-loader`. Unfortunately `ant-design/icons` still uses

[2020-03-01 16:43] zisheng-ai commented on #172
催更+1

[2020-03-01 21:32] ImranHalukSenlik1905 opened #249 "Last commit failed can we revert"
The last commit failed and is now causing failures when I try to import Icon from "antd";  Can it be reverted?  Thanks

[2020-03-02 07:16] BANG88 commented on #172
@youngjuning 2.0.0

[2020-03-02 07:16] #172 closed, assigned to nobody

[2020-03-04 09:36] mtgr1020 opened #251 "关于tsconfig"
项目没有配置"allowSyntheticDefaultImports": true,使用@ant-design报错,配置了其他库报错

[2020-03-04 09:48] chenshuai2144 commented on #251
来个 pr?

[2020-03-04 10:04] mtgr1020 commented on #251
抱歉表达有误,是编译的时候 .d.ts文件
因为没开allowSyntheticDefaultImports ,所以 import React from 'react'

[2020-03-07 13:11] zisheng-ai commented on #172
@ant-design/react-native 依赖的图标名字错乱了，List.Item 的 arrow 属性全部显示错误

[2020-03-11 20:09] marcosaguilera commented on #229
For all you looking for a solutions, it might works:

* Edit or add this on your `package.json` to `@ant-design/icons": "4.0.0-rc.0`
* Delete your node_modules folder
* run `npm i `or `npm install` this going to reinstall and recreate the icons dependency

Hope this helps anyone.

[2020-03-12 02:58] wukong1995 opened #257 "[help]求问，为什么在2.x的分支上，找不到@ant-design/icons的2.1.1版本的代码？"
只找到了在commit 7f8369020f4上看到更新2.1.0的版本，没有找到2.1.1的版本。
在master上看，只有2->4的版本更新.
在realease看也没到2.1.1的tag.

目前antd的最新依赖版本是2.1.1

[2020-03-12 07:21] #257 closed, assigned to nobody

[2020-03-13 20:21] cedricwang28 commented on #26
[antd: Icon] Empty Icon

[2020-03-15 13:19] Ishaan28malik commented on #237
I just made the required changes  #259
@sorrycc please review this.

[2020-03-21 07:52] HowieHai opened #263 "Attempted import error: 'xxxOutlined' is not exported from '@ant-design/icons'."
Hi,

I just upgrade antD from v3 to v4. However, I found a small issue about the Icons.

The screenshot shows below:

For example, I want to use "EditOutlined" Icon.

**In the official website, it is "EditOutlined":**
<img width="550" alt="Screen Shot 2020-03-21 at 6 40 12 PM" src="https://user-images.githubusercontent.com/18298737/77222023-82694600-6ba3-11ea-9f97-5db71b1997ca.png">

**In the code

[2020-03-22 19:37] Yumcoder-dev commented on #71
moon icon for dark mode (such as telegrama and twitter night theme)

[2020-03-23 17:50] latobibor commented on #263
I have the same issue with the added problem it does not even work. As per documentation I would need to just use `<EditOutline />`, however it is an `IconDefinition` object which I can't use:
`JSX element type 'EditOutline' does not have any construct or call signatures.`

What step am I missing here?

[2020-03-24 04:15] tjx666 opened #265 "can't set onMouseEnter listener of Icons"
- [ √] I have searched the [issues](https://github.com/ant-design/ant-design/issues) of this repository and believe that this is not a duplicate.

### Reproduction link
[https://github.com/tjx666/coo](https://github.com/tjx666/coo)

### Steps to reproduce
just see screenshot
![screenshot_2020-03-24_12-09-13](https://user-images.githubusercontent.com/41773861/77387660-005a6680-6dc9-11ea-9a50-863453

[2020-03-24 04:28] tjx666 commented on #265
Temporary workaround
![screenshot_2020-03-24_12-26-23](https://user-images.githubusercontent.com/41773861/77388346-cdb16d80-6dca-11ea-9a01-d0ca3777ff30.png)

[2020-03-25 08:21] dongsongshan commented on #263
I have the same issue

[2020-03-25 08:48] afc163 commented on #263
[code]

[2020-03-25 08:48] #263 closed, assigned to nobody

[2020-03-25 08:57] afc163 commented on #265
@vagusX Is this related to https://github.com/ant-design/ant-design-icons/commit/fb390340eba8f44b1381eaf25afee1f31518c425#diff-917d780e4b5b0637839647e8ca200661R30 ?

[2020-03-25 15:37] vagusX commented on #265
According to v3-stable https://github.com/ant-design/ant-design/blob/3.x-stable/components/icon/index.tsx#L62 and v4 still use the same `IconProps` interface, so the conclusion is that we have never supported html element event listeners except `onKeyUp` and `onClick`.

So, @tjx666 you can wrap a <span> to listen mouse event to get the workground.

What's more, @afc163 should we support all those

[2020-03-25 15:41] latobibor commented on #263
The problem got fixed by updating to `"antd": 4.0.4`. The `EditOutlined` icon was missing from exported members.

![image](https://user-images.githubusercontent.com/12050526/77555378-7937ec00-6eb7-11ea-8940-537e04300284.png)

[2020-03-26 01:59] tjx666 commented on #265
I have change my code logic and need not to listen those events, but I think those events are needed in some case.

[2020-03-26 02:51] afc163 commented on #265
We should, actually we support to pass all rest props into html element but our type definition does not.

[2020-04-01 13:51] numice commented on #227
Shouldn't this be added on Readme?

[2020-04-02 18:11] AlonGvili commented on #71
if you can create PowerShell icon it will be great.
and maybe make all the theme icon style the same, for example in the TwoTone style there are less icons then outline

[2020-04-03 08:59] hugobarragon opened #270 "Icon spin prop not working when custom"
- [x] I have searched the [issues](https://github.com/ant-design/ant-design/issues) of this repository and believe that this is not a duplicate.

### Reproduction link
[![Edit on CodeSandbox](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/antd-loading-icon-c80xk)

### Steps to reproduce
create svg icon
import antd Icon component
apply component prop with svg icon

[2020-04-03 10:34] zombieJ commented on #270
@vagusX , do we or should we support `spin` with customize icons?

[2020-04-04 11:15] hehehai opened #271 "icons-svg docs wrong"
package: icons-svg
file: READNE.md
area: typescript type difine doc
[code]

fix
[code]

[2020-04-06 00:31] hehehai commented on #271
@sorrycc

[2020-04-06 01:43] silentzone opened #272 "在@ant-design/react-native@3.3.0 中 icons-react-native的icon 显示存在问题"
1. 环境： @ant-design/react-native@3.3.0
                 "@ant-design/icons-react-native@1.0.2"
2.预期，应该和 @ant-design rn-kitchen-sink 工程中提示输入框的icon 一致，
3.实际 图：
![TIM图片20200406094121](https://user-images.githubusercontent.com/273957/78516056-ce92c800-77ea-11ea-803b-d23a10c11573.png)
4.备注：@ant-design/icons-react-native@1.0.2 版本是降级过的，之前用的icons-react-native@2.0+也是一样的显示？是否需要降@ant-design/react-native 版本？？

[2020-04-06 09:33] silentzone commented on #272
清空 package.json中antd-react-native的所有相关的配置，再重装，拷贝字体到main/assets 目录解决

[2020-04-06 09:33] #272 closed, assigned to nobody

[2020-04-09 09:44] wangdanting opened #274 "How to config import on Demand in Babel"
How to config import on Demand in Babel

[2020-04-10 05:34] #271 closed, assigned to nobody

[2020-04-16 10:09] shaodahong opened #279 "improve: rotate use transition?"
Example Repo:

https://codesandbox.io/s/jibenyongfa-ant-design-demo-jnep5?file=/index.js

## Now:
![Kapture 2020-04-16 at 18 07 28](https://user-images.githubusercontent.com/14831261/79444011-27ddd100-800d-11ea-9573-8acbb04a4db2.gif)

## Hope:
![Kapture 2020-04-16 at 18 08 33](https://user-images.githubusercontent.com/14831261/79444106-4e037100-800d-11ea-9308-ca8a97056529.gif)

[2020-04-22 02:11] afc163 commented on #71
- [ ] Pinterest https://github.com/ant-design/ant-design/issues/23458

[2020-05-03 02:17] nwoeddie commented on #198
[For future me and fellow Googlers...](https://github.com/ant-design/ant-design/issues/12011#issuecomment-623043192)

[2020-05-03 11:01] pradipta opened #291 "Link broken"
https://github.com/ant-design/ant-design-icons/blob/master/packages/icons

[2020-05-04 01:11] wzhudev commented on #291
Try https://github.com/ant-design/ant-design-icons/blob/master/packages/icons-svg.

[2020-05-05 11:44] marekgregor opened #293 "Undo/Redo icons are too similar to Reload icon"
Our users have confusion with "Undo"  icon and "Reload" icon because they are too similar. It will be amazing if undo/redo icons will be redesigned to be more distinctive with reload. The attached image shows those icons in MS Office apps.
![icons](https://user-images.githubusercontent.com/340477/81062583-8264a180-8ed6-11ea-88b9-5ba42e269850.png)

Thank you for this amazing project.

[2020-05-06 03:38] afc163 commented on #71
- [ ] FileAudio https://github.com/ant-design/ant-design/issues/23838
- [ ] FileVideo https://github.com/ant-design/ant-design/issues/23838

[2020-05-06 18:37] pradipta commented on #291
@wendellhu95 PR: https://github.com/ant-design/ant-design-icons/pull/292

[2020-05-12 13:11] #291 closed, assigned to nobody

[2020-05-15 13:58] Kamahl19 opened #300 "DollarOutlined and DollarCircleOutlined are the same - both circled"
DollarOutlined and DollarCircleOutlined are the same - both circled

![image](https://user-images.githubusercontent.com/1591293/82058124-9c676680-96c4-11ea-8e19-341c0516d736.png)

[2020-05-16 17:23] LucaFilitz commented on #71
Why do you close the issues when the icons aren't implemented?

[2020-05-16 17:41] afc163 commented on #71
@LucaFilitz They all were merged into this issue and you can trace here.

[2020-05-18 16:03] fredericosilva commented on #71
Hello, I'd appreciate those,

- [ ] azure - Microsoft Azure
- [ ] aws - Amazon Web Services
- [ ] gcp - Google Cloud Platform

Thanks in advance!

[2020-05-18 17:15] LucaFilitz commented on #71
Is there a plan when you'll start implementing the icons? Can I help by a PR? For example the docker and kubernetes Icons aren't in and the comment is almost a year old.

[2020-05-26 09:20] MrZWH opened #304 "use icon alert typescript error"
![image](https://user-images.githubusercontent.com/24401665/82883393-f0036b00-9f74-11ea-9365-a95426bb2341.png)

Environment | Info
-- | --
@ant-design/icons | ^4.1.0
antd | ^4.1.5
React | 16.8.5
System | Windows 10
ide | vscode
typescript version | 3.8.3

[2020-05-29 18:03] milobluebell opened #307 "esm模式按需引入模式失效"
你好，我在自己的组件中引用了 @ant-design/icons/es/index.js下的`createFromIconfontCN`方法，伪代码大致这样：
[code]
打包成组件后，在另一个项目引用它，在那儿经webpack analyzer发现，整个Icon包1.23mb的东西都被引进来了👇
![image](https://user-images.githubusercontent.com/11535146/83290652-8952ab80-a219-11ea-88fd-1446c0500323.png)

[2020-05-29 18:05] milobluebell commented on #307
里面是各种我不想用的antd的Icon，👇
![image](https://user-images.githubusercontent.com/11535146/83290844-ed756f80-a219-11ea-90f5-7c515860adc3.png)

我是希望完全舍弃已有的antd Icon，只用createFromIconfontCN，配合自己的iconfont去构建组件来使用

[2020-05-29 18:13] milobluebell commented on #307
或者我不打包自己的Icon组件，在任意项目中直接引 @ant-design/icons/es/index.js下的createFromIconfontCN去创造的Icon组件，一样有此问题

[2020-06-01 07:54] mitsol opened #308 "import from @ant-design/icons super slow"
I'm using meteor@1.10.2 with antd@4.3.0.

Any import of an Icon makes the app super slow on initial load (only initial site load).

E.g. using
[code]
increases triggered site-reload to 10 seconds, while removing this line, site reload takes < 1 second.

[2020-06-03 18:01] milobluebell commented on #307
有没有轮值维护者？麻烦看一下，急。 @sorrycc @popomore @bang88 @yesmeck
🙏

[2020-06-03 18:03] yesmeck commented on #307
production 模式下 webpack 才会 tree shaking

[2020-06-03 18:16] milobluebell commented on #307
我是使用father build开发一个组件库A。 其中有Button、Affix、Icon等。我用build + npm pack的方式将A打包后的tgz，在项目B npm install使用，而不是link使用。Button、Affix等都是按照预料做了按需，没有加载什么多余内容。但是通过createFromIconfontCN创建的Icon就是我刚才截图的情况。
这个过程似乎跟你刚才说的，没关系吧？你意思是让我对项目B  build之后的结果再analyzer?

[2020-06-03 18:22] yesmeck commented on #307
以上是我的猜测，除非你能提供可重现的 demo，不然只能是猜测。

[2020-06-04 06:47] milobluebell commented on #307
好的。我晚点给个复现库。

[2020-06-05 16:10] ChuckJonas commented on #71
Something to indicate a "signature" required.

Maybe just a "pen"?

[2020-06-06 15:07] hankaibo commented on #307
@ant-design/icons这个包还是有问题吧。虽然官网的示例是按需打包了，但是我也遇到了题主同样的bug。

我不断的删除文件，发现没有页面引用了，它还是全量打包。

[2020-06-06 15:11] hankaibo commented on #307
[myantdpro.zip](https://github.com/ant-design/ant-design-icons/files/4740499/myantdpro.zip)
这就是一个可复现的项目。我只是把官网的ts转成了js。

[2020-06-06 15:53] hankaibo opened #310 "为什么没有安装 ant-design-icons，umi打包时依旧全量打包它了？"
这是可复现源码。

[myantdpro.zip](https://github.com/ant-design/ant-design-icons/files/4740561/myantdpro.zip)

[2020-06-06 15:58] hankaibo commented on #310
![批注 2020-06-06 235732](https://user-images.githubusercontent.com/5361465/83948716-a0b11a80-a851-11ea-8b88-432f0feebc29.png)

[2020-06-06 17:03] yesmeck commented on #307
是这里的问题 https://github.com/umijs/plugins/blob/master/packages/plugin-locale/src/index.ts#L197

@chenshuai2144

[2020-06-06 17:07] chenshuai2144 commented on #307
我来修一下

[2020-06-08 19:58] saresh-krish opened #313 "TypeError: Cannot read property 'getParent' of undefined"
Hi
When i click the Modal Popup event i got this error.
`TypeError: Cannot read property 'getParent' of undefined`
I thick this problem come from the latest package of 'rc-util' & '@ant-design/icons'
`if (!windowIsUndefined && this.getParent() === document.body) { // 离开时不会 render， 导到离开时数值不变，改用 func 。。 openCount = visible && openCount ? openCount - 1 : openCount; }
path: node_modules/rc-util/es/Por

[2020-06-11 17:59] #313 closed, assigned to nobody

[2020-06-12 08:25] Roman-Lo opened #315 "Icon Dynamic Loading Logic Might Cause Incorrect SVG Element Rendering"
## Issue Story

Recently I use a way that listen the mouse enter/leave event to control the `nzType` property for the `[nz-icon]` directive (ng-zorro). Let's say the initial icon type is `A:A`, and the hover state icon type is `A:B` (mouse entered). I found that while I move my mouse super fast, which make the mouseenter and mouseleave event triggered so closely, the icon style will remain on the

[2020-06-15 04:36] hankaibo commented on #310
与https://github.com/ant-design/ant-design-icons/issues/307相同，我在最新版本更新之后发现解决了。
antd: 4.3.4版本。

[2020-06-15 04:36] #310 closed, assigned to nobody

[2020-06-17 07:59] vthinkxie commented on #315
cc @wendellhu95

[2020-06-18 03:24] wzhudev commented on #315
I get your point here @Roman-Lo. We were running into a race condition. IMHO, the second fix is more localized and hence reasonable. I will fix this. Thank you!

[2020-06-18 06:50] saurabh-mhaisekar opened #319 "Request for date calendar icons for each day of the month"

[2020-06-26 13:43] #315 closed, assigned to wzhudev

[2020-06-30 02:15] Roman-Lo commented on #315
Thanks!

[2020-06-30 08:23] yuchuanxi opened #325 "部分icon的svg paths错误"
有部分svg icon的paths是有问题的，在sketch中渲染会出现错乱，但是浏览器中是好的，原因不知。

sketch中的渲染效果：
![image](https://user-images.githubusercontent.com/5205912/86102147-bbdc1680-baed-11ea-816d-a300040f4be0.png)

手动调整paths后的效果：
![image](https://user-images.githubusercontent.com/5205912/86102230-d1514080-baed-11ea-9a78-d693539de9fa.png)

通过比对两端paths，可以看到
![image](https://user-images.githubusercontent.com/5205912/86102340-f80f7700

[2020-07-02 22:02] redapollos opened #326 "Icon type"
On the documentation (towards the bottom of the Icon page), it says you can do the following:
<Icon type="message" style={{ fontSize: '16px', color: '#fff' }} theme="outlined" />

However, when I try this, the icon doesn't display and gives an error of:
[@ant-design/icons] Should have `component` prop or `children`.

Is the use of "type" no longer supported?

I am trying to build a navigation dyna

[2020-07-06 14:28] hengkx opened #327 "请问一下有所有图标的在线ttf文件吗"

[2020-07-14 12:46] edwardluu commented on #326
Same as my problem !! I already upgraded the antd ver3 to ver4 ,but dynamic Icon with type is big problem with me when i used `'@ant-design/icons'`. I used `@ant-design/compatible` instead for `@ant-design/icons` with dynamic Icon.See more: https://ant.design/docs/react/migration-v4#Icon-upgrade (you will got some warning on devtool). I hope Ant design will improve it soon ✌️

[2020-07-17 17:56] v9ai opened #333 "Rationale behind 1024x1024 height/witdh viewport"
I noticed that a lot of icons, if not all have this rather big-size viewport:
https://github.com/ant-design/ant-design-icons/search?q=1024+1024&type=Code

for comparison, dashicons has 20x20 height/width viewport:
https://github.com/WordPress/dashicons
***
what is the rationale behind these sizes ?

[2020-07-19 08:08] Floffah opened #334 "Discord Icon"
I would quite like to see Discord icons. [Here is their branding page](https://discord.com/new/branding)

[2020-07-28 16:56] lukasluecke commented on #304
I solved this by installing `@types/react` and `@types/react-dom` in my project directly, seems like otherwise it uses an outdated version with these issues. Could probably also be updated here to fix it.

[2020-07-29 01:55] ghost opened #337 "react：typescript Error type"
类型 "{ className: string; onClick: () => undefined; }" 中缺少属性 "translate"，但类型 "Pick<AntdIconProps, "cite" | "data" | "form" | "label" | "span" | "style" | "summary" | "title" | "pattern" | "children" | "start" | "onClick" | "onSelect" | "defaultChecked" | ... 348 more ... | "twoToneColor">" 中需要该属性。

[2020-07-31 16:18] BrandonKlotz commented on #71
Git Merge icon similar to: https://primer.style/octicons/git-merge-16

@afc163 I am happy to help contribute new Icons to the specification that Ant.Design has listed in: https://github.com/ant-design/ant-design-icons/blob/master/packages/icons-svg/docs/ContributionGuide.md

Is there a separate guide to adding to the Ant.Design site or is it okay to focus on adding to the React Library?

[2020-08-03 02:38] baranwang opened #343 "facebook 已经更换了 “f” logo 的样式"
请参考 https://en.facebookbrand.com/facebookapp/

[2020-08-05 01:55] #337 closed, assigned to nobody

[2020-08-06 03:19] tdida commented on #307
遇到同样问题，等待进展

[2020-08-11 11:38] kosticfilip commented on #270
Maybe someone will find this usefull...
Was having the same issue, you need to spread props on svg, it needs to get class 'ant-spin' based on 'spin' prop.
https://codesandbox.io/s/antd-loading-icon-forked-hjpj5

[2020-08-11 11:44] hugobarragon commented on #270
Thanks, for me its a closed one then, it works, @zombieJ going to close this issue then, maybe add to documentation?

[2020-08-12 08:15] LbhFront-end opened #348 "externals 报错 AntDesignIcons is not defined"
## config.ts

[code]

## 打包成功将antd-icons从umi.js拿了出来 但是运行时候报错

[code]

是不是我用的有问题，该怎么从umi把ant-design/icons拿出来，并且可以正常运行

[2020-08-12 09:06] LbhFront-end commented on #348
'@ant-design/icons': 'icons' 这个是正解？貌似解决了

[2020-08-12 09:06] #348 closed, assigned to nobody

[2020-08-13 05:41] #270 closed, assigned to nobody

[2020-08-19 02:05] lfpkkk commented on #304
@lukasluecke I'm having the same problem. After installed @types/react@16.8.8 and @types/react-dom@16.8.3 I still have the error. what version did you use to solve the problem?

[2020-08-19 02:38] lfpkkk commented on #337
Having exact same issue. Tried install @types/react and @types/react-dom to the project directly but doesn't seem to work.

[2020-08-19 03:24] lfpkkk opened #354 "Error using @ant-design/icons with TypeScript"
![image](https://user-images.githubusercontent.com/22840506/90587550-3e3ea800-e20c-11ea-96da-bfe91e7934e3.png)

Lately I have problem using icons with @ant-design/icons. It seems like this issue has been there for a while, but only a few people have encountered it.

I tried the solution @lukasluecke suggested in #304, which is to install @types/react and @types/react-dom directly to the project. B

[2020-08-19 04:15] kavience opened #355 "jest测试报错"
项目运行没有问题，在项目中引入 jest 测试，在测试的时候发现，测试虽然通过了，但还是报这个错误。

[code]

[2020-08-19 07:57] kavience commented on #355
已找到原因，
[code]

查看源代码发现

[code]

问题出在这里，但我还是不太明白是因为什么？

查看 `insert-css` 库发现，确实没有问题 `insertCss` 本身是一个函数 `[Function: insertCss] { insertCss: [Circular] }`，但是在 jest 测试的时候发现 `_insertCss` 变成了 `{ process: [Function: process] }`，这里要怎么修复呢

[2020-08-19 10:37] kavience commented on #355
估计是jest 配置不对，自己再找找其它办法吧

[2020-08-19 10:37] #355 closed, assigned to nobody

[2020-08-19 11:38] lukasluecke commented on #304
I have the following installed:
[code]

[2020-08-21 03:34] linonetwo commented on #354
Same on me

[code]

[2020-08-21 05:44] fuweichin opened #357 "An alternative usage of React icon components"
### Current example usage

This is a basic usage of React  icon components, see [official documentation](https://ant.design/components/icon/)

[code]

### The naming issue

1. Not all `XxxOutlined` icons are ideographically outlined. Isn't it self-contradictory?
2. Icon components are named with (and distinguished by) suffixes, challenging for developers who use a LTR writing system.

### One poss

[2020-08-21 07:42] boatlet opened #358 "unrecognized font family 'antoutline'"
react-native > 0.60，官方说是会有autolink, 然后就没有经过手动link过，在使用的时候报错：unrecognized font family 'antoutline'；
使用代码：
<IconOutline name="account-book" />

[2020-08-21 08:16] fuweichin commented on #357
### Revision
For the second solution, icon groups should be cached, so export and use `getIconGroups` instead of `createIconGroups`.

[code]

[code]

[2020-08-21 13:51] Torone commented on #41
@hongchanhk01 Can I know how did you fix the rollup configuratiuon to avoid this annoying issue? Thanks

[2020-08-25 02:52] mengfei0053 opened #362 "不能读取displayName，可否修改生成模板"
原模板
[code]

建议修改后的模板
const <%= svgIdentifier %> = React.forwardRef<HTMLSpanElement,AntdIconProps>((
) => <AntdIcon {...props} ref={ref} icon={<%= svgIdentifier %>Svg} />);

<%= svgIdentifier %>.displayName = '<%= svgIdentifier %>';
export default <%= svgIdentifier %>;

[2020-08-25 02:53] mengfei0053 commented on #362
补充， icons-react包

[2020-08-25 03:10] mengfei0053 commented on #362
[code]

[2020-08-25 06:27] haobrother commented on #358
一样的问题.
首先npm install @ant-design/icons-react-native
之后react-native run-ios
报错unrecognized font family 'antfill'

[2020-08-28 03:44] sparkext opened #363 "4.2.2 版本 setTwoToneColor 在生产环境中无效"
在 ant design pro v5 版本中使用 umi 3.x 打包构建，setTwoToneColor 设置的颜色无效，回到了默认主题色。

本地开发环境
<img width="238" alt="Xnip2020-08-28_11-45-25" src="https://user-images.githubusercontent.com/48018751/91518981-fa425600-e923-11ea-92f4-f551e868732e.png">

线上环境
<img width="216" alt="Xnip2020-08-28_11-45-46" src="https://user-images.githubusercontent.com/48018751/91519002-075f4500-e924-11ea-803a-d5802b9bc167.png">

[2020-09-02 01:56] lfpkkk commented on #354
@chenshuai2144 @afc163 could you guys help me on this issue? have been struggling for weeks. I installed @types/react@16.9.49 and @types/react-dom@16.9.8 but doesn't work.

[2020-09-02 02:41] lfpkkk commented on #304
@lukasluecke thanks for your help. After weeks of research, I finally noticed that @types/react and @types/react-dom are listed under devDependencies in package.json by default, but in my project they were moved under dependencies  somehow.
So my final solution to this issue is to move them back to devDependencies, of course with the latest version number, and then reinstall the whole node modules

[2020-09-02 02:43] lfpkkk commented on #354
@linonetwo After weeks of research, I finally noticed that @types/react and @types/react-dom are listed under devDependencies in package.json by default, but in my project they were moved under dependencies  somehow.
So my final solution to this issue is to move them back to devDependencies, of course with the latest version number, and then reinstall the whole node modules by npm intall.
![image]

[2020-09-16 17:14] m1yon opened #374 "Ascending/Descending icons are reversed"
Currently, the SortDescendingOutlined depicts a z-a sort (ascending), and the SortAscendingOutlined depicts a a-z sort (descending). They should be reversed.

[2020-09-23 12:17] #363 closed, assigned to nobody

[2020-09-23 14:56] ghost opened #376 "typescripnt4.0.2 error"
类型 "{ className: string; onClick: () => undefined; }" 中缺少属性 "translate"，但类型 "Pick<AntdIconProps, "title" | "colSpan" | "rowSpan" | "width" | "key" | "className" | "name" | "id" | "cite" | "data" | "form" | "label" | "span" | "style" | "summary" | ... 347 more ... | "twoToneColor">" 中需要该属性。ts(2741)

[2020-09-23 19:51] sebadlf opened #377 "useInsertStyles hook is braking Content Security Policy"
The [Icon](https://github.com/ant-design/ant-design-icons/blob/9393e3ed72de5bf67546b615f382394e140be79b/packages/icons-react/src/components/Icon.tsx) component is calling the hook [useInsertStyles](https://github.com/ant-design/ant-design-icons/blob/master/packages/icons-react/src/utils.ts).

Then useInsertStyles uses insertCss which doesn't knows anything about the CSP used in Ant Design 4

[code

[2020-09-25 11:25] cross13 commented on #377
There is any update about this issue ? :)

[2020-09-26 22:46] ghost commented on #376
类型“"cite" | "data" | "form" | "label" | "span" | "style" | "summary" | "title" | "pattern" | "children" | "defaultChecked" | "defaultValue" | "suppressContentEditableWarning" | ... 349 more ... | "twoToneColor"”不满足约束“"ref" | "cite" | "data" | "form" | "label" | "span" | "style" | "summary" | "title" | "pattern" | "children" | "defaultChecked" | "defaultValue" | "suppressContentEditableWarning" | .

[2020-09-26 22:52] #376 closed, assigned to nobody

[2020-09-28 08:55] crazyair opened #382 "rotate 是否添加 rotateX rotateY 支持"
![image](https://user-images.githubusercontent.com/7971419/94411671-69bd9680-01ab-11eb-9d11-3883dc421db7.png)
![image](https://user-images.githubusercontent.com/7971419/94411689-6de9b400-01ab-11eb-9a78-4869636efa78.png)

[2020-10-11 17:57] LEvinson2504 opened #387 "Clicking on the icons in the search result copies the entire import statement."

[2020-11-14 15:29] phalera opened #404 "Ant design button组件 loading属性表现错误"
更新icons到4.3.0后出现Button loading加载图标显示错误？

[2020-11-15 22:07] ghost commented on #404
I have the same issue. After upgrading and-design-icons to 4.3.0, the animation of the loading icon looks strange when using the `loading` prop on an antd `Button` component. When providing a `LoadingOutlined` component to the `icon` prop of the button directly instead of using the `loading` prop, it does work properly.

Looks like this PR causes the issue:
https://github.com/ant-design/ant-design

[2020-11-17 02:20] htmlin commented on #41
@hongchanhk01 Can I know how did you fix the rollup configuratiuon to avoid this annoying issue? Thanks

[2020-11-18 09:09] beiifeng opened #405 "@ant-design/icons依赖@ant-design/colors版本问题导致IE11报错问题"
1、问题描述：
我们之前使用的依赖为
 antd@4.0.3>>@ant-design/icons@^4.2.2>>@ant-design/colors@^3.2.2>>tinycolor2@^1.4.1
有一天，发生了变化，变成了
antd@4.0.3>>@ant-design/icons@^4.3.0>>@ant-design/colors@^5.0.0>>@ctrl/tinycolor@^3.1.6

问题来了，我们之前在IE11下没有错误，现在IE11用不了了。。。
因为@ctrl/tinycolor的写法
[code]
而tinycolor2的写法为
[code]

在IE11中报 `SCRIPT438: 对象不支持“includes”属性或方法`

2、环境：
使用cnpm，因为npm工具不好使，没有cnpm快，所以一直用的cnpm。

3、一天了，没有找到解决办法：
现在暂时

[2020-11-19 10:26] beiifeng commented on #405
不用cnpm，使用npm，配置镜像加速，然后通过lock文件把版本锁定。。。。。。。。

[2020-11-19 10:26] #405 closed, assigned to nobody

[2020-11-19 13:46] sametweb commented on #304
Thank you! Solved my problem.

[2020-11-22 19:54] benoitrion opened #408 "Can't resolve '../components/AntdIcon'"
Hi,

I am facing an issue when adding @ant-design/icons to my application.

I am getting the following error, when building my next application.
![image](https://user-images.githubusercontent.com/8916249/99915527-8508d600-2d04-11eb-98ab-89d66ffe207f.png)

The error also occurs when running in dev mode.

Moreover, I am not using any Icons at the moment, don't understand why this error shows up.

I

[2020-11-23 08:32] linuxonrails commented on #337
Same problem.

[2020-11-26 08:25] yonglinwang002 commented on #358
maybe you will need run  ' pod install '  before run in ios

[2020-12-01 15:05] BrainEno opened #416 "ant-design-icons在nextjs中不显示"
在nextjs中引入了EditOutlined,在我的项目中不显示，在控制台也没有看到svg，目前只发现EidtOutlined一个图标有这个问题，其他的正常显示，不知道是什么问题

[2020-12-01 15:08] BrainEno commented on #416
以下为引入和使用部分代码：
import { DeleteOutlined, EditOutlined } from "@ant-design/icons";

        <Link href={`/admin/crud/${blog._id}`}>
          <a className='update-btn'>
            <EditOutlined />
            更新
          </a>
        </Link>

[2020-12-01 15:23] #416 closed, assigned to nobody

[2020-12-03 12:42] ZoeLeee opened #418 "icons 的打包体积还是非常大"
我只引用了4个图标

![image](https://user-images.githubusercontent.com/33168975/101019280-b35d9f80-35a7-11eb-837a-c2453adaa668.png)

Webpack4
![image](https://user-images.githubusercontent.com/33168975/101019438-f0c22d00-35a7-11eb-9274-61ca19a4c7f6.png)
![image](https://user-images.githubusercontent.com/33168975/101019485-02a3d000-35a8-11eb-8176-be853e0c5dfc.png)

[2020-12-09 05:55] afc163 commented on #71
- [ ] bilibili https://github.com/ant-design/ant-design/issues/28258

[2020-12-17 11:50] liuguangzhen01 commented on #408
I have same problem，anyone if has solutions?

[2020-12-18 12:24] halionn opened #425 "内置Icon引入后是一个对象，不是组件函数，这样的图片对象如何显示？"
[code]
引入的icon组件是一个对象，这个对象不能直接作为组件渲染，请问如何显示出这张内置icon。
打印如下：
[code]

[2020-12-29 08:30] cipchk opened #433 "建议：建议增加 RTL & LTR 两个图标"

[2020-12-29 09:17] christingliu commented on #408
I have same problem too。

[2021-01-04 03:11] luocong2016 opened #435 "typescript import错误"
![image](https://user-images.githubusercontent.com/25705196/103497796-8ee23500-4e7d-11eb-8d40-345326920050.png)

[2021-01-05 09:46] YanYuanFE commented on #418
建议用babel-loader，icons本身支持按需加载的，参考我的项目配置：https://github.com/YanYuanFE/react-ts-app

[2021-01-19 17:08] tamsamani commented on #408
I got the same problem after upgrade to 4.3.0 or Up

[2021-01-20 01:05] #251 closed, assigned to nobody

[2021-01-26 07:45] sunkehappy commented on #307
@chenshuai2144 这个问题修复的怎么样了？我们也遇到了同样的问题，需不需要我们来帮忙修复，期待回复。

[2021-01-29 03:46] caixianglin commented on #307
1年了，按需加载还没解决，是放弃ant-design了吗？

[2021-01-30 11:49] chenshuai2144 commented on #307
已经休掉了，不过最近又有 bug 复现了，马上会解决一下

4.113 版本

[2021-01-31 07:36] sunkehappy commented on #307
@chenshuai2144 OK，我看到4.11.2已经发布了，期待4.11.3哈，我正好在做性能优化，所以这里很关键。

[2021-02-03 07:38] chenshuai2144 commented on #307
发了4.12.0， 你试试

[2021-02-06 05:58] Xerkus opened #448 "@ant-design/icons missing transient peer dependency on react-dom"
Yarn 2 with pnp and strict resolution complains about missing transient peer dependency on react-dom.

See ant-design/ant-design#27339

[2021-02-11 16:46] plotka opened #451 "Support React 17"
Add support for React >=17 as a peer dependency

[2021-02-22 16:21] FrankHe02 opened #457 "npm install 引入库后，build 报错@ant-design/icons/lib/components/AntdIcon.d.ts(2,13): '=' expected. TS1005"
/Users/xxx/tmp/xxxx/node_modules/@ant-design/icons/lib/components/AntdIcon.d.ts
TypeScript error in /Users/xxx/tmp/xxx/node_modules/@ant-design/icons/lib/components/AntdIcon.d.ts(2,13):
'=' expected.  TS1005

    1 | import * as React from 'react';

      |             ^
    3 | import type { IconBaseProps } from './Icon';
    4 | import { getTwoToneColor, TwoToneColor, setTwoToneColor } from './t

[2021-03-03 05:53] nemozar opened #465 "Not all icon has .js file"
Build down with error:

[code]

In folder `/node_modules/@ant-design/icons-svg/es/asn` not all icons has .js file.

use `yarn install` for install `node_modules`.

yarn.lock
[code]

for build use `react-app-rewired build`

in my code i'm dosn't use this icon.

node version v12.20.1
npm 6.14.10
yarn 1.21.1

[2021-03-05 01:46] anshuman opened #466 "Add Icons `CircleOutlined`, `SquareOutlined`, `RectangleOutlined`, `TriangleOutlined`"
Please keep the icons blank from inside.  `<UpCircleOutlined />` has an up sign inside it. Sometimes only a cirlce `O` is required.

[2021-03-07 10:21] iamxyzby commented on #457
同样的问题，我是通过升级 typescript 解决的。typescript 3.8 才支持 `Type-Only Imports and Export`，antd 其它组件好像还用了 `字符串模板类型`，直接升级到 4.1.0 以上吧

[2021-03-08 09:03] AliceCooper214 opened #467 "some icons not found in node_modules,how to resolve"
这下面是一些报错信息

 WAIT  Compiling...                                                                                                                           下午5:00:30
98% after emitting CopyPlugin

 ERROR  Failed to compile with 3 errors                                                                                                       下午5:00:32
These dependencies were not found:

* @ant-design/ico

[2021-03-08 09:31] AliceCooper214 commented on #467
很好的办法  重新创建一个项目 就可以

[2021-03-10 02:51] yellow13441 opened #468 "@ant-design/icons-vue not working in vue3 yet?"
I built my vue project with vue/cli(version: @vue/cli **4.5.11**) with vue3 default config, and installed both ant-design-vue@next and @ant-design/icons-vue with npm. When I try to use an icon such as UserOutlined or StarOutlined in my main.js with code below:
[code]
The brower throws a warn as below with nothing rendering in the page.
[code]
No message from the console side BTW.

_main.js_
[code]

[2021-03-10 02:59] yellow13441 commented on #468
I'm a noob of front-end framework and just want to figure out it's my issue only or @ant-design/icons-vue does not support vue3 yet.

[2021-03-11 04:44] yellow13441 commented on #468
It turns out icons work well if I import and use it in one single component instead of use it in main.js with '_app.use(UploadOutlined)_'

code like below works:
_upload.vue_
[code]

Forgive my ignorance :smile:

To answer my own question,

### @ant-design/icons-vue works just fine in vue3

[2021-03-11 04:55] #468 closed, assigned to nobody

[2021-03-11 18:49] JoshWalshaw commented on #358
I'm also getting a similar error for antfill. I've installed the package with `yarn add @ant-design/icons-react-native` followed by a `react-native link @ant-design/icons-react-native` which doesn't output anything like other packages...

warn Calling react-native link [packageName] is deprecated in favor of autolinking. It will be removed in the next major release.
Autolinking documentation: http

[2021-03-13 08:31] jssoscar commented on #457
同样碰到此问题
![image](https://user-images.githubusercontent.com/4252175/111024391-86781e80-8419-11eb-9e39-547e441df61d.png)

[2021-03-16 10:27] ZengTianShengZ opened #469 "TypeScript: Compilation failed"
执行 yarn vue:ci 报错

[code]

node -v
v10.21.0
yarn -v
1.22.10

"@ant-design/icons-vue":  "version": "6.0.1"

[2021-03-16 13:26] #467 closed, assigned to nobody

[2021-03-17 02:22] ghost opened #470 "vscode: 类型 "{}" 中缺少属性 "translate"，但类型 "Pick<AntdIconProps, "children" | "form" | "onSubmit" | "acceptCharset" | "action" | "autoComplete" | "encType" | "method" | "name" | "noValidate" | "target" | "defaultChecked" | ... 350 more ... | "twoToneColor">" 中需要该属性。ts(2741)"
## 问题：
在 react 中使用 @ant-design/icons，提示

## 版本：
[code]
## 截图：
![image](https://user-images.githubusercontent.com/77133362/111404632-0c41e580-870a-11eb-960a-55893ad7f236.png)

## 最简可复现代码：
[code]

## 期望行为：
不提示该问题

[2021-03-17 03:04] ghost commented on #470
翻了一下代码，

`CheckOutlined` 对应的 `CheckOutlined.d.ts` 文件中提到，

[code]

这里我们只需要关注 `Pick<>`, 此处代表在 `AntdIconProps` 中寻找 `translate` 属性

查看导出 `AntdIconProps` 的文件，可以发现 `Icon < IconComponentProps < AntdIconProps < IconBaseProps` 这样一条继承链
[code]

再看导出 `IconBaseProps` 的文件，我们可以发现，`IconComponentProps` 继承 `IconBaseProps` ，其中的 `component` 的类型是：
`React.ComponentType<CustomIconComponentProps | React.SVGProps<SVGSVGEl

[2021-03-17 09:03] ZengTianShengZ commented on #469
`/packages/icons-vue/tsconfig.json` 添加  skipLibCheck 暂时解决了

[code]

[2021-03-17 09:04] #469 closed, assigned to nobody

[2021-03-18 02:58] ShenQingchuan opened #471 "icons-vue Uncaught ReferenceError: CheckCircleFilled_default is not defined"
![image](https://user-images.githubusercontent.com/46062972/111565855-0fef6e00-87d7-11eb-9598-dd6883f4d381.png)

## 环境信息：

 › node  **v12.16.2**
 › npm **6.13.7**
 › yarn  **1.22.10**
 › vite 2.1.2
 › @ant-design/icons-vue **6.0.1**
 › ant-design-vue **2.0.1**

[2021-03-18 17:11] fgblomqvist commented on #451
This should already be solved: https://github.com/ant-design/ant-design-icons/issues/394

[2021-03-19 02:28] #377 closed, assigned to nobody

[2021-03-20 06:13] Grewer commented on #358
短期解决方案:
1. 在 scripts(没有就自己建)下创建文件 `icon-fix.js`
2. 添加内容:
[code]
3. `node scripts/icon-fix.js`
4. 重新 link `react-native link @ant-design/icons-react-native`, 可以看到如下输出:
[code]
5. 重新运行

此方案在 #429  这个 PR 合并后可以不再使用

[2021-03-20 06:50] ShenQingchuan commented on #471
## 可能的原因：
`@ant-design/icons-vue` 采用 es module 后有些坑没填完...

## 已经找到解决方案：

对于 Vite 项目，不应将 'ant-design-vue' 加入 `vite.config.js(/ts)` 的 `optimizeDeps.includes` 中...

但这是符合预期的么？

@tangjinzhou 建议将此 issue 之后 transfer 到 vueComponents/ant-design-vue (next)

[2021-03-22 09:03] LeoHuiyi opened #473 "rc-utils中的injectCSS在chrome53版本报错"
![image](https://user-images.githubusercontent.com/8001457/111965080-4c510000-8b30-11eb-8c0b-bcdac78e459e.png)

prepend方法有兼容性问题

[2021-03-23 09:03] distums commented on #473
同样问题

[2021-03-24 03:03] lesonky opened #474 "icon-vue compile error"
我替换了 icon-svg 里面的图标,准备重新打包一份发布在内部npm 上, icon-svg 和 icon-react 都打包发布成功了, icon-vue 打包总是有问题,具体报错如下:
[code]

[2021-03-27 17:04] #471 closed, assigned to nobody

[2021-04-01 03:52] laochake opened #475 "createFromIconfontCN从iconFont创建的icon不支持style重置，是不是改不了颜色？"

[2021-04-04 06:18] coderew opened #476 "icons-react目录下运行yarn start，报部分文件找不到的错误"
在icons-react目录下执行yarn后，再运行yarn start命令，报部分文件解析不到的错误，分析后发现是icons-react/example/tooltip.tsx文件里面引入了Tooltip组件，去掉该组件后正常。

请问是什么原因？

[code]

[2021-04-06 04:06] antstudio-git commented on #354
@lfpkkk  it doesn't work as followed your steps. I just use the icon with default props, but it warned.

is there any other ways to fix?

![image](https://user-images.githubusercontent.com/13619768/113657118-d58b3980-96cf-11eb-9135-9c6df477d36e.png)
![image](https://user-images.githubusercontent.com/13619768/113657312-49c5dd00-96d0-11eb-9cbd-d34255b82381.png)

[2021-04-09 03:22] ZengTianShengZ opened #477 "lib 在 vite 下使用会报错"
https://github.com/ant-design/ant-design-icons/blob/5be2afd296636ab4cfec5d3a2793d6cd41b1789b/packages/icons-vue/scripts/generate.ts#L38

[code]
这里为啥不使用 es ，如下：

[code]

vite 只支持 esmodule ， lib 会提示

[code]

[2021-04-09 14:46] jeggy commented on #71
Hi, I would love to get a External link icon (Example https://image.flaticon.com/icons/svg/25/25284.svg)

This has been requested before here: https://github.com/ant-design/ant-design/issues/18841

[2021-04-12 11:07] kckusal commented on #154
Any updates on this?

[2021-04-12 13:41] xyy94813 commented on #154
I don't know if it works well

[code]

[2021-04-12 14:46] BenICE opened #478 "Internationalization (i18n) for ant-icons / aria-label"
###  What problem does this feature solve?

ant-icons are often used in the ant components -> e.g. the Drawer is using the ant icon for close. This is fine and works well, but we have no possibility to easily overwrite the aria-label of the icon.

The problem arises if your website language is not English, but another. The aria-label on the icon is English so the screenreader will read out "Close"

[2021-04-13 13:45] djpecot commented on #334
+1

[2021-04-14 21:04] IronSean commented on #451
Not in icons:

[code]

[2021-04-15 11:08] #333 closed, assigned to nobody

[2021-04-30 06:24] Amber-zty commented on #470
你好，我添加了translate?: string; 之后 直接整个页面都无法显示了 ； 添加transform?:string 会报错

[2021-05-18 20:39] kamal-ux opened #480 "core.js:6210 ERROR Error: [@ant-design/icons-angular]:the icon reload-o does not exist or is not registered."
i am using this kind of statement '<i nz-icon [nzType]="'reload'" [nzTheme]="'outline'"></i>'.  Although using 'setting' instead of reload got no any error

[2021-05-19 09:10] songjinzhou commented on #99
How did it work out?

[2021-05-22 20:33] jephjohnson opened #481 "WebpackError: renderToString() error: missing "preact-render-to-string" dependency."
I am importing icons in my gatsby project and keep being returned the error below. This was working fine before I updated various modules.

Error:
[code]

Package.json:
[code]

Component.js
[code]

[2021-05-30 10:24] dexteryo commented on #354
Same issue. Any update on this?

[2021-06-02 01:59] jiyarong commented on #354
same here

[2021-06-03 09:38] HeeBooo opened #482 "windows微信pc版内置浏览器Chrome/53版本报错"
环境 | 版本
-- | --
@ant-design/icons | 4.6.2
React | 17.0.1
System | win10
Browser | pc版本微信内置浏览器((Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36 QBCore/4.0.1316.400 QQBrowser/9.0.2524.400))

错误提示:
![image](https://user-images.githubusercontent.com/23186355/120622692-9f7cf280-c491-11eb-9eb9-578d24fe8641.png)

将版本降级为4.6.0版本后能正常浏览界面

[2021-06-04 01:04] six006 opened #483 "@ant-design/icons@4.6.2 使用图标时提示报错"
在使用图标时，

`import { MenuUnfoldOutlined } from '@ant-design/icons';<MenuUnfoldOutlined />`

报下面的错误，换成4.0.0就没有问题了，怎么解决呢？

Type '{}' is missing the following properties from type 'Pick<AntdIconProps, "name" | "className" | "style" | "cite" | "data" | "form" | "label" | "slot" | "span" | "summary" | "title" | "pattern" | "children" | "id" | "size" | ... 347 more ... | "twoToneColor">': name, className,

[2021-06-04 01:20] six006 commented on #475
是的，我这边也报错，用的最新的4.6版本

Type '{ type: string; style: { fontSize: string; color: string; }; }' is not assignable to type 'IntrinsicAttributes & IconFontProps & { children?: ReactNode; }'.
  Property 'style' does not exist on type 'IntrinsicAttributes & IconFontProps & { children?: ReactNode; }'.  TS2322

[2021-06-08 12:35] zhiqingchen opened #484 "@ant-design/icons-react-native@2.3.0 引入了 patch-package 导致安装报错"
[code]

[2021-06-08 12:36] zhiqingchen commented on #484
package.json

[code]

[2021-06-08 12:39] zhiqingchen commented on #484
这里为何 2.2.1 被删除，2.3.0 被加上

[2021-06-08 17:04] angeltxwh commented on #484
@zhiqingchen taro来的。。taro一个包用了ant-design-icons。。让我遇到了和你一个问题....尴尬，希望你赶紧被merge吧

[2021-06-09 01:53] Clarkkkk commented on #354
It may have something to do with the versions of @types/react and @types/react-dom. It works for me with @types/react@16.9.34 and @types/react-dom@16.9.6

[2021-06-09 03:06] BANG88 commented on #484
2.3.1 Sorry

[2021-06-09 03:06] #484 closed, assigned to nobody

[2021-06-11 09:29] alienzhangyw opened #486 "@ant-design/icons v4.6.3webpack打包tree-shaking失效"
原来是4.3版本，今天更新了一下最新版本，结果除了用到的十几个图标，index.js也全部都打包进去了。现在icons成为我项目体积最大的包……
![image](https://user-images.githubusercontent.com/58874541/121662465-f5781880-cad7-11eb-8c8d-4d07daac28d2.png)

我用的neutrino，babel配置如下：
![image](https://user-images.githubusercontent.com/58874541/121664568-2eb18800-cada-11eb-88d9-6ea583508641.png)

[2021-06-14 12:37] careyke commented on #307
这个问题在4.16.2版本又出现了🙏

[2021-06-14 12:59] careyke commented on #486
遇到了同样的问题

[2021-06-15 05:41] alienzhangyw commented on #486
移除了babel-plugin-import的使用后解决了。记得导入antd的css。

[2021-06-15 05:41] #486 closed, assigned to nobody

[2021-06-15 18:10] lchrennew opened #487 "Feature Request: Commit"
现在已经有了Branch、Fork、PullRequest，希望再来个Commit

[2021-06-16 03:04] careyke commented on #486
这样做是不是会把所有组件的css文件都导入了，导致css文件比较大

[2021-06-16 06:38] alienzhangyw commented on #486
我的项目基本上用到了所有组件，所以影响不大。而且最新版antd我发现使用babel-plugin-import，设置style: true会导致所有antd的css都不加载。

如果你在意css大小的话可以尝试这个https://www.npmjs.com/package/@shaking/antd-css 不过我没试过。

[2021-06-18 03:56] afc163 commented on #71
- [ ] muted video https://github.com/ant-design/ant-design/issues/31033

[2021-06-18 05:27] afc163 commented on #487
Commit 预期长什么样。

[2021-06-18 05:28] afc163 commented on #483
升级 @types/react 和 TS 版本。

[2021-06-18 05:28] #483 closed, assigned to nobody

[2021-06-18 05:29] afc163 commented on #482
你需要 prepend 的 polyfill。

[2021-06-18 10:44] sanketshevkar commented on #71
@afc163 May I add a SVG and create a PR on the [ant-design-icons ](https://github.com/ant-design/ant-design-icons) repo?

[2021-06-21 02:58] MrDo1890 commented on #307
![image](https://user-images.githubusercontent.com/17616618/122701170-3eba2c00-d27f-11eb-8811-1845f4e2afd2.png)
4.16.2 问题还是有的
只使用了LoadingOutlined这一个Icon

[2021-06-21 06:31] careyke commented on #307
应该是同一个问题吧  官方已经修复 https://github.com/ant-design/ant-design/issues/31008

[2021-06-21 08:10] MrDo1890 commented on #307
已解决, many thx

[2021-06-21 10:31] luosheng opened #488 "Style conflict with Tailwind Preflight (or other normalize css)"
Ant design icons set a global `vertical-align` property under the class selector `.anticon` with a value of [`-0.125em`](https://github.com/ant-design/ant-design-icons/blob/110eb10c7df81da48d7d19216b4cda31b5b9ceb7/packages/icons-react/src/utils.ts#L96) which could be easily preceded by other element selectors, like the one introduced in [Tailwind Preflight](https://tailwindcss.com/docs/preflight#i

[2021-06-22 03:48] lchrennew commented on #487
![image](https://user-images.githubusercontent.com/1522365/122860154-cd967980-d34f-11eb-9a58-5b68c18938fc.png)
类似这个样

[2021-06-22 04:29] kenazs opened #489 "Type for Icon props"
Hello!
Сan you tell what type should be specified for properties? It would be cool if it was mentioned in the example documentation

const HeartIcon = props => <Icon component={HeartSvg} {...props} />;
const PandaIcon = props => <Icon component={PandaSvg} {...props} />;

props:?

[2021-06-24 03:16] afc163 commented on #71
- [ ] commit https://github.com/ant-design/ant-design-icons/issues/487

[2021-06-24 03:25] afc163 commented on #487
https://github.com/ant-design/ant-design-icons/issues/71#issuecomment-867302684

[2021-06-24 03:25] #487 closed, assigned to nobody

[2021-07-05 16:34] zawie commented on #374
a -> z is ascending.
z -> a is descending.

[2021-07-06 11:34] OnurGvnc commented on #248
Hi
I solved it like this

[code]

https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less#L106

`@iconfont-css-prefix: anticon;`

[2021-07-06 21:39] benwiley4000 commented on #307
Any news on this? Seems like tree shaking isn't working.

[2021-07-13 03:44] deleonio opened #491 "CSP: Remove @babel/runtime from dependencies"
`@babel/runtime` contains a dependency `regenenerator-runtime`. And this break the Content-Security-Policy `unsafe-eval`.

I think, that `@babel/runtime` should not be a part of dependency. It must be a part of devDependency?!

[2021-07-13 03:50] deleonio commented on #491
Read that: @tellnes

No issue tab?! - https://github.com/ant-design/react-slick

[2021-07-13 09:01] tellnes commented on #491
?

[2021-07-16 02:43] lxang commented on #307
遇到同样问题，有人找到解法么，求分享

[2021-07-16 03:29] deleonio commented on #491
@tellnes : at the repo - there is no active isssue tab. Please logout and try it.

We have CSP errors and we should remove the `unsafe-eval`.

[2021-07-16 09:30] tellnes commented on #491
Yes, but why do you mention me? I'm not a maintainer, just a random contributor sending the latest PR that got merged to `@ant-design/react-slick`.

[2021-07-17 09:02] deleonio commented on #491
Fix it with your bundler: https://leanupjs.org/1.2/guide/migration/#if-you-have-unsafe-eval-with-babel-runtime

[2021-07-17 09:04] deleonio commented on #491
@yoyo837 - Please check this issue.

[2021-07-19 01:22] Robert-Ro commented on #307
try this: https://github.com/ant-design/ant-design/issues/12011#issuecomment-623175983
but not compatible for `createFromIconfontCN`, you should handle it manually

[2021-07-26 15:26] adamistheanswer commented on #307
Tried this and not working

[2021-07-28 18:52] mattlubner commented on #448
I'm also seeing this. It appears to be an issue with Yarn 2, regardless of the nodeLinker setting (ie. not just for `pnp`, but also for `node-modules`).

[2021-07-28 19:45] neonick commented on #354
Doesn't work with
[code]

[2021-07-29 05:16] Robert-Ro commented on #474
edit tsconfig.json
[code]

[2021-08-02 02:07] baxa29102001 commented on #326
Hi i find solution    ###  directly import

-  import SmileOutlined from '@ant-design/icons/SmileOutlined';

` <SmileOutlined />`

[2021-08-05 10:45] balboFK commented on #71
Hi everyone.
I would like to request the following icons:

- [ ] a "truck" icon for representing logistics
- [ ] a chair icon for representing a sitting area
- [ ] a product icon (could be a box of some sort)

Thanks in advance!

[2021-08-06 05:44] gabek commented on #71
Hello!  I'd love to see the inclusion of the Fediverse logo as shown here: https://en.wikipedia.org/wiki/Fediverse#/media/File:Fediverse_logo_proposal.svg

[2021-08-07 09:24] #474 closed, assigned to tangjinzhou

[2021-08-07 09:25] tangjinzhou commented on #477
默认导出的是 es 了

[2021-08-07 09:25] #477 closed, assigned to nobody

[2021-08-09 11:12] genuineswe commented on #26
hello, any update?

[2021-08-12 02:20] dimadev01 commented on #308
Same here

[2021-08-12 07:30] mitsol commented on #308
try the following: instead of using the named import

[code]

use the default import for each icon:

[code]

this prevents from importing all icons.

[2021-08-12 11:54] gapon2401 commented on #279
You can add `.anticon svg { transition: transform 0.3s ease; } ` to your CSS file.

[2021-08-12 11:57] dimadev01 commented on #308
Thank you very much, I missed tho think about that! Thanks!

[2021-08-16 15:39] jadzeidan commented on #71
Yes, would love to have an external link icon, something like this:

![image](https://user-images.githubusercontent.com/42831937/129590563-7582d460-8705-4b17-ac33-ca2214198503.png)

[2021-08-23 10:56] EMichaelC commented on #377
Has this issue been fixed? Setting a nonce via the ConfigProvider is still not working.

[2021-08-26 23:15] badams commented on #377
@zombieJ @EMichaelC Not working for me on `@ant-design/icons@4.6.3` & `antd@4.16.13`

[2021-08-28 16:39] joeyfigaro opened #495 "Missing basic icons"
Will update this as I find other missing icons.

- (camera) flash toggle
- (camera) flip
- ~(hamburger/stack) menu~
- dismiss/close 'X' without a border
- unchecked circle / square (for showing checkboxes/radios in an unchecked state)

Update: I discovered that I was missing the hamburger menu icon due to a types issue on my part. The rest still seem to be missing, though.

[2021-08-28 16:59] joeyfigaro opened #496 "name prop's typing is too broad"
Currently the Icon component's name prop accepts a number, a string (from a union of icon names), and `function` – attempting to pass `(s: SvgProps) => Element` is resulting in complaints from the compiler.

⚡

[2021-08-30 11:09] JounQin opened #497 "`color` prop for custom IconFont component is incorrect"
![image](https://user-images.githubusercontent.com/8336744/131330394-bfe4c051-81a6-4fb3-90d3-4180243844e5.png)

`color` should be on `svg`.

[2021-08-30 11:15] JounQin commented on #497
related https://github.com/ant-design/ant-design/issues/13137#issuecomment-908247345

[2021-08-30 11:27] JounQin commented on #497
Current workaround:

[code]

[2021-09-20 11:09] Kamahl19 commented on #334
+1

[2021-10-04 07:28] sudarshan070 commented on #354
Same issue with
`
  "@types/react": "^16.9.53",
  "@types/react-dom": "^16.9.8",
`

[2021-10-07 11:53] qiudaoermu opened #499 "vue2 不支持吗??"
使用外链图标报错，scriptUrl
[code]
![image](https://user-images.githubusercontent.com/13454418/136492580-af11efe8-e3ff-4bb3-a2c0-e853ae03f159.png)

[2021-10-21 11:45] alexeychirkov commented on #334
Would like to have it also

[2021-11-05 12:02] luckymore commented on #476
make sure you had `npm run ci`, the best way is :
[code]

[2021-11-12 19:10] joeyfigaro commented on #495
Any thoughts on this @bang88 @vthinkxie

[2021-11-15 08:25] psybor opened #506 "为什么需要执行 useInsertStyles ？"
每次加载图标，都会更新一段 css 到浏览器，问题是，这段 css 还是固定的，不会读取 iconPrefixCls 变量，可能会对 3.x 的 antd 造成样式冲突。

[icons-react/src/utils.ts:144](https://github.com/ant-design/ant-design-icons/blob/5be2afd296636ab4cfec5d3a2793d6cd41b1789b/packages/icons-react/src/utils.ts?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L144)

首先

[2021-11-28 07:47] askie commented on #358
+1

[2021-12-03 02:05] zhonggithub commented on #358
+1

[2021-12-06 15:16] zhonggithub commented on #358
+1

[2021-12-08 12:47] pfdgithub commented on #470
[code]
拼写错误造成的？

[2021-12-14 10:14] gpeshans commented on #248
Hey @matzeeable! I know that this is a very old comment/question, but, if possible, can you please share (loader configuration) how you use the [string-replace-loader ](https://www.npmjs.com/package/string-replace-loader) for the workaround you mentioned?
Best,
gp

[2021-12-21 23:13] nmoinvaz opened #508 "Add support for alternative text"
This is a feature request to add support for alternative text (tooltip) to the SVG icons. I believe it can be done with a child `<title></title>` tag. I use the React icons with antd components. Some times people are unsure of the meaning of an icon so it would be a good idea to provide some text when they hover over it.

[2021-12-29 08:06] HaishengLiang opened #511 "Icons 4.7.0 file with error ?"
ERROR  Failed to compile with 2 errors                                                         3:36:19 ├F10: PM┤

These dependencies were not found:

* @ant-design/icons/CloseCircleOutlined in ./node_modules/antd/lib/notification/index.js
* @ant-design/icons/ExclamationCircleOutlined in ./node_modules/antd/lib/notification/index.js

it works right at 4.6.4

[2021-12-29 08:07] HaishengLiang opened #512 "Icons 4.7.0 with error ?"
ERROR  Failed to compile with 2 errors                                                         3:36:19 ├F10: PM┤

These dependencies were not found:

* @ant-design/icons/CloseCircleOutlined in ./node_modules/antd/lib/notification/index.js
* @ant-design/icons/ExclamationCircleOutlined in ./node_modules/antd/lib/notification/index.js

it works right at 4.6.4

[2021-12-29 12:15] #511 closed, assigned to nobody

[2021-12-30 03:44] wuliupo commented on #470
这个必传的属性 translate 真是蛋疼，代码全错了

[2022-01-05 21:17] cliffordfajardo opened #515 "antd global.less file svg css rule is cutting of svg component's view"

[2022-01-05 21:17] #515 closed, assigned to nobody

[2022-01-12 03:55] darcydev commented on #99
Note that this is not fixed - am getting same error.

Also it appears to be more than just an unexpected warning - is causes the `allowClear` on the `Select` component to not show the delete icon to remove the tag

![image](https://user-images.githubusercontent.com/38367944/149061238-fc57fc29-17e6-46c2-b141-70ae844d9fd1.png)

[2022-01-27 06:24] migokcek commented on #99
I have the same issue and making @ant-design/icons-svg as a dependencies is not working. I believe webpack causes this issue but couldn't figure it out. is anyone solve this?

[2022-01-28 17:41] garviand commented on #451
I'm sorry if this issue should be considered closed, but I don't think I fully understand peer dependencies. I thought a change was made to support React >= 17 but I still get this error:

[code]

[2022-01-29 03:27] shikelong opened #516 "pnpm support"
In pnpm 6.26.1,
If I use `pnpm add antd` for dependencies adding. @ant-design/icons will not be installed.

[2022-02-07 19:25] Shuaa11 commented on #334
Desperately need it right now....

[2022-02-10 11:35] alexeychirkov commented on #334
Currently I use following component:

[code]

[2022-02-14 08:35] ebarooni opened #519 "Icon request: Stack Overflow"
I noticed that among all the great icons that ant design provides, the icon for Stack Overflow is missing.
Would be nice to have it.

Thanks for the great work.

[2022-03-09 10:50] lucaslz2020 commented on #307
我感觉还是有问题啊。antd本身又lib 又有es的方式导入，导致我都不知道改如何导入字体库了。 我都使用全路径了。

[2022-04-05 07:21] nhan14t1 opened #520 "Module not found: 'antd/lib/icon/IconFont' when upgrading antd from v3 to v4"
I got this error: "Module not found: Can't resolve 'antd/lib/icon/IconFont'" when upgrading antd version. Can someone help?
Thanks.

[2022-04-11 19:10] vit1251 opened #521 "React 18 compatible"
Since React 18 is release `@ant-design/icons` block updating.
Any reason to continue blocking?

[2022-04-13 16:58] #374 closed, assigned to nobody

[2022-04-20 21:33] jacobweberbowery opened #522 "Add `attachTo` to IconContext?"
Would it be possible to add an optional `attachTo` property to `IconContext`, that gets passed through to `updateCSS` when you call `useInsertStyles`? The `updateCSS` function already supports this.

The use case is that I'd like to include an icon within a Web Component's shadow DOM. I want the style sheet to be inserted inside the shadow DOM, instead of the document head, so it only affects the

[2022-04-22 04:26] firebellys commented on #334
when is this getting updated

[2022-05-22 08:53] nicolo-ribaudo commented on #491
Hi! This issue can probably be closed; `@babel/runtime@7.18.0` does not depend on `regenerator-runtime` anymore.

[2022-05-24 08:04] HeskeyBaozi commented on #521
What's blocking the update? Do you mean the `peerDependencies` or other issues?

[2022-06-06 08:20] MTTTM commented on #470
所以它是ant-design-icons自身的ts类型搞错了？

[2022-06-06 09:00] ghost commented on #470
可能是的，不过官方没人关注这个事情，也不知道是不是不值得修，还是说我搞错了……

[2022-06-23 02:53] wheeljs opened #531 "[Vue] Icons render problem when using with vite-ssr"
Hi, thanks for your great libraries about Antd.

I have a problem with using `ant-design-vue@3.x`, `@ant-design/icons-vue@6.1.0` **with [vite-ssr](https://github.com/frandiox/vite-ssr)**. I found all icons usage from `ant-design-vue` like `<a-select>` just render icon once. E.g. `<a-select>` with multiple mode, only one remove icon and checked icon was rendered when I selected multiple options.

#

[2022-06-23 13:26] #531 closed, assigned to nobody

[2022-07-18 15:01] alextrastero commented on #71
Tiktok

[code]

[2022-07-25 14:43] merfais opened #533 "icons-vue props.twoToneColor type check warning"
type twoToneColor = string | [string, string] | undefined
at code [icons-vue/src/utils.ts](https://github.com/ant-design/ant-design-icons/blob/42c18e986e3cff4bf5afbe30d26eb77903a39064/packages/icons-vue/src/utils.ts#L77)
but, props.twoToneColor defined twoToneColor: String as PropType<TwoToneColor>,
at code [icons-vue/src/components/AntdIcon.tsx](https://github.com/ant-design/ant-design-icons/blob

[2022-07-29 17:55] Jood80 commented on #326
Faced it while importing:
[code]
changed this into ` import { LoadingOutlined } from '@ant-design/icons';` and the error is gone.

[2022-08-09 03:44] bingcoder commented on #470
@types/react16.8 的HTMLAttributes里没有定义 translate，@types/react18 有定义 translate 以及 onAuxClick 等

[2022-08-09 03:56] pfdgithub commented on #470
HTML 中的 translate 属性支持很差，@types/react18 纯粹是为了类型检查不报错才添加的。
和 ant-design-icons 没有任何关系，所以最合理的解释还是把 SVG 中的属性手滑写错了而已。
这么一个小 BUG 这么久都没人处理，很符合 antd 团队一贯的风格啊 ╮(╯▽╰)╭

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/translate

[2022-08-09 08:20] ghost commented on #470
一直以为 translate 是图形变换相关的属性，没想到居然是字面意义上的“翻译” ……

[2022-08-23 02:46] vivkikkk opened #535 "warn dependency.assets is not allowed"
warn Package @ant-design/icons-react-native contains invalid configuration: "dependency.assets" is not allowed. Please verify it's properly linked using "react-native config" command and contact the package maintainers about this.

[2022-08-25 03:24] tangjinzhou commented on #499
2.0 版本支持 vue2

[2022-08-25 03:24] #499 closed, assigned to nobody

[2022-08-28 19:27] drilko opened #536 "IconService changes fill property of svg"
Hello,
I have this svg:
`<svg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.288 2.25L3.156 7.681a1.906 1.906 0 00-.418.894L2.506 10.6c-.08.731.444 1.231 1.17 1.106l2.012-.343c.28-.05.675-.257.868-.47l5.132-5.43c.887-.938 1.287-2.007-.094-3.313-1.375-1.294-2.419-.837-3.306.1zM7.431 3.156a3.829 3.829 0 003.406 3.219M1.875 13.75h11.25" stroke="currentColor" stroke-

[2022-08-31 02:51] hsuanxyz opened #537 "Add [open in new] icon"
This is a feature request.

I've been using other third-party icons for a long time, and I hope it will be officially supported by Ant Design.

Like the following icon from  [Material Symbols ](https://fonts.google.com/icons?selected=Material%20Symbols%20Outlined%3Aopen_in_new%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4048).
![open_in_new_FILL0_wght400_GRAD0_opsz48](https://user-images.githubuserc

[2022-09-01 11:39] 826327700 opened #538 "全局注册组件方式引入注册图标，npm run build 后图标组件未注册，显示不出来"
全局注册组件方式引入图标，在npm run serve模式下 正常使用， 在打包发布后 图标不显示，对应组件在html中渲染为未注册的标签<homeoutlined/>
[code]
如果改成在页面内引入：
[code]
则打包后也正常显示。

用的是vue3 不知道哪里有问题

[2022-09-07 07:24] long76 opened #539 "add some bootstrap icons for which not exists analog in antd"
### What problem does this feature solve?

migration from bootstrap 3 to antd

### What does the proposed API look like?

https://getbootstrap.com/docs/3.4/components/
antd do not contains road icon for example

[2022-09-13 11:29] ggalejandro commented on #521
Installation proccess throws an error using node 16 due to peerDependencies

[code]

[2022-09-25 18:39] anhthang commented on #334
Please add Discord icon

[2022-10-12 07:30] Nice-zrd commented on #535
I also encounter the same problem. "react-native": "0.69.6" does not allow links. How can I solve this problem?

[2022-10-17 07:50] shijiandatou opened #541 "@ant-design/icons 没有 <HolderOutlined />"
在使用图标时。
import {HolderOutlined } from '@ant-design/icons';
报错 这个模块没有导出，“"@ant-design/icons"”没有导出的成员“HolderOutlined”。

@ant-design/icons 版本是 4.7.0，看了@ant-design/icons包里确实没有这个HolderOutlined

[2022-10-17 17:55] YahyawiAF commented on #521
Same here. please if you find a solution can you help  @ggalejandro?

[2022-10-20 03:42] shifenhutu opened #542 "建议增加3个有关 黑暗模式 光亮模式的图标"
![image](https://user-images.githubusercontent.com/104620424/196851208-40871ebd-d5d6-4661-a5a1-c29ca8cfbcdb.png)

大概是这样的

[2022-10-26 02:24] demigodliu commented on #354
Same Problem：
`"react": "^18.1.0"`
`"react-dom": "^18.1.0"`

[2022-10-28 07:43] HuiWang111 opened #544 "如何保留svg中的文本节点"
![image](https://user-images.githubusercontent.com/40290843/198531745-a42ae909-214e-49f3-ae41-8527d4f11fea.png)
如图，在处理children时会把type不等于 element 的节点移除，如果svg中确实存在需要保留的文本节点，应该如何处理呢？

[2022-10-28 10:46] TrustyTechSG opened #545 "Add icon 'Bluetooth'"
### What problem does this feature solve?

Curretnly only have USB and Wifi, suggest Bluetooth should also supported.

### What does the proposed API look like?

import { BluetoothOutlined } from "@ant-design/icons";

[2022-11-10 06:11] Epic-Deno commented on #516
why no support <code>pnpm add ant-design/icons-vue</code> ？

[2022-11-16 20:56] FernandoBatoni commented on #71
Moon and Sun Icon for theme changing

[2022-11-18 05:59] rosezq commented on #541
我也报了这个错误，请问最终时怎么解决的

[2022-11-20 06:23] salmanjones opened #547 "浏览器直接引入icons-vue如何做？"
老旧项目使用了浏览器直接引入antd.min.js和antd.min.css，然后全局使用了antd挂载到Vue上。目前发现没有@ant-design/icons-vue的组件，请问如何在浏览器中如何引入icons组件？

[2022-11-22 18:30] xlcodes commented on #542
能否提供 svg 源文件？

[2022-11-23 04:30] shifenhutu commented on #542
你好，这3个图标是我在 https://www.iconfont.cn/ 随便搜来的， 3个图标风格尺寸不太匹配，  不知道有没有其他人 可以制作3个风格一样的图标

[2022-11-23 04:37] xlcodes commented on #542
可以根据官方文档自行添加Icon文件，相关文档：https://ant.design/components/icon-cn#%E8%87%AA%E5%AE%9A%E4%B9%89-icon

[2022-11-23 04:38] shifenhutu commented on #542
好的多谢

[2022-11-26 04:56] maratkalibek opened #550 "Release version for Angular 15"
Current angular version supports only Angular 14.

Please, release version with Angular 15 support.

@NG-ZORRO

[2022-11-27 11:16] jornare commented on #550
Just added a PR for Angular 15 support #551